/* top page */
@import "core/mixin/_mixin"
@import "core/variable/_color"

.p-top
    @include box-100()

    .l-blocks

        &.l-top-1

            .l-block

                &-1

                    .l-txt
                        @include box-100()
                        flex-direction: column

                        img
                            max-width: 570px

                    .c-images

                        .c-cates
                            position: absolute
                            left: 50%
                            bottom: 0
                            transform: translateX(-50%)
                            z-index: 1

                            .cate
                                min-width: 180px
                                min-height: 42px
                                border-radius: 10px
                                font-weight: 500
                                color: white

                                &-before
                                    background: $color-red4

                                &-after
                                    background: $color-pink

                    .position-relative

                        .img-bg
                            width: 30%
                            position: absolute
                            top: 0
                            z-index: -1

                            &.left
                                max-width: 360px
                                left: 0

                            &.right
                                max-width: 406px
                                right: 0

                &-2

                    .c-list
                        @include box-100()
                        padding-left: 86px

                        li
                            @include box-100()
                            min-height: 74px
                            align-items: center
                            padding-top: 10px
                            padding-left: calc(74px + 28px)
                            position: relative

                            &:not(:last-child)
                                margin-bottom: 26px

                            &::before
                                content: ""
                                width: 74px
                                height: 74px
                                background-image: url("../img/top/check-circle.svg")
                                background-size: contain
                                background-position: center
                                background-repeat: no-repeat
                                position: absolute
                                top: 0
                                left: 0

                &-3

                    .c-cols

                        &.c-col-55

                            .thumb
                                width: 55%
                                max-width: 680px

                            .contents
                                width: 45%

                                table
                                    width: 100%
                                    border-collapse: separate
                                    border-spacing: 14px
                                    -webkit-border-horizontal-spacing: 14px
                                    -webkit-border-vertical-spacing: 16px

                                    td
                                        min-height: 80px
                                        border-radius: 3px
                                        background: $color-yellow
                                        vertical-align: middle
                                        text-align: center

                                        p
                                            font-size: 3.8rem
                                            font-weight: bold

                                            &:last-child
                                                margin-bottom: 0

        &.l-top-2

            .bg
                min-height: 462px
                background: rgba(245, 106, 106, 6%)
                top: 16%

        &.l-top-3

            .c-cols

                &.c-col-73
                    padding-left: 16px
                    padding-right: 16px

                    .thumb
                        width: 28%
                        max-width: 320px
                        margin-right: 75px

                        figure
                            border-radius: 200px

                    .contents
                        width: 60%
                        max-width: 690px

                        h3.c-title
                            font-family: YuGothic

                        .c-cates

                            .cate
                                width: 100%
                                max-width: 150px
                                height: max-content
                                min-height: 50px
                                padding: 5px 20px 5px 37px
                                border-radius: 3px
                                background: $color-pink
                                font-weight: 500
                                color: white
                                position: relative

                                span
                                    @include box()
                                    align-items: baseline

                                    strong
                                        margin-left: 6px
                                        font-weight: 500

                                &::after
                                    content: ""
                                    width: 15px
                                    height: 1px
                                    background: white
                                    position: absolute
                                    left: 13px
                                    bottom: 15px

                    &.have-txt

                        .txt
                            width: auto
                            top: -50px
                            left: unset
                            right: 16px
                            transform: translateX(0)
                            opacity: 0.3

                            .c-title
                                line-height: 1
                                color: $color-gray3
                                font-family: YuGothic

                                &.u-line
                                    padding-left: 0

                                    &::before
                                        background: $color-gray3

                                    &.line-md
                                        padding-top: 30px

                                &.line-bottom

                                    &::before
                                        width: 2px
                                        height: 20px
                                        top: 0
                                        left: 20%

                    &.switch
                        flex-flow: row-reverse
                        padding-left: 16px
                        padding-right: 16px

                        .thumb
                            margin-right: 0

                        .contents
                            margin-right: 80px

                        &.have-txt

                            .txt
                                left: 0
                                right: unset

                    &:not(:last-child)
                        margin-bottom: 105px

        &.l-top-4

            .l-block

                &-1

                    .c-collapsible

                        .c-cates

                            .cate
                                min-width: 180px
                                min-height: 60px
                                font-size: 2.6rem
                                font-weight: bold
                                border-width: 2px

                &-2

                    .c-collapsible
                        padding-left: 111px
                        position: relative

                        .counter
                            width: 74px
                            height: 74px
                            @include box()
                            flex-direction: column
                            justify-content: center
                            align-items: center
                            border-radius: 50px
                            background: $color-pink
                            font-size: 1.4rem
                            font-weight: 500
                            line-height: 1
                            color: white
                            position: absolute
                            top: 20px
                            left: 0

                            &::before
                                font-size: 2.6rem
                                font-weight: bold
                                line-height: 1.2

                        &:not(:last-child)
                            margin-bottom: 55px

                &-3

                    // .l-block__main
                    //     overflow: hidden

                    // .l-container-full
                    //     width: calc(100% + 50%)
                    //     max-width: unset
                    //     margin-right: -25%
                    //     margin-left: -25%

                    .c-products
                        overflow: hidden

                        &.product-special2
                            width: calc(100% + 50%)
                            max-width: unset
                            margin-right: -25%
                            margin-left: -25%

.c-banner

    &.custom-banner
        height: calc(580px + 80px)

        .contents

            &.contents-center-bottom

                &+.banner
                    height: 480px

        .c-cates
            width: 100%
            justify-content: center

            .cate
                width: 100%
                max-width: 520px
                min-height: 66px
                border-radius: 10px
                font-weight: 500
                color: white
                font-family: 'A-OTF-R'
                background: $color-pink

.c-notes
    @include box-100()

    .item
        width: 100%
        @include box()
        flex-direction: column
        margin-bottom: 60px
        padding: 35px 35px 40px 82px
        background: white
        border-radius: 10px
        box-shadow: 0 2px 6px rgb(0 0 0 / 10%)
        position: relative
        overflow: hidden

        &::before
            content: ""
            width: 3px
            height: 150px
            background: $color-pink
            position: absolute
            top: 26px
            left: 40px

    .gr-notes
        @include box-100()
        justify-content: space-between
        margin-bottom: 50px

        .item
            width: calc((100% - 60px) / 2)
            margin-bottom: 0
            padding-right: 10px

.c-cnt
    @include box-100()
    align-items: unset
    justify-content: space-between

    .item
        width: calc((100% - 40px) / 2)
        @include box()
        padding: 20px
        border-radius: 10px
        color: white

        .contents
            @include box-100()
            height: 100%
            flex-direction: column
            justify-content: flex-start
            align-items: center
            align-content: center
            border: 2px solid rgba(255, 255, 255, 49%)

            .c-title

                &.title-border-left-right
                    padding-right: 30px
                    padding-left: 30px

                    &::after,
                    &::before
                        top: 0
                        background: white

            span.c-title

                strong
                    font-family: YuGothic

        &.left
            background: linear-gradient(to bottom, #F56A6A, #F8C6C6)

            .img
                width: 52px
                height: 52px

        &.right
            background: linear-gradient(to bottom, #4AADD9, #50BEBE)

            .img
                width: 50px
                height: 50px

        &:not(:last-child)
            margin-bottom: 0

.c-products

    &.product-special2

        .item
            flex-direction: column
            padding: 30px
            background: white
            border-radius: 10px
            box-shadow: 0 2px 6px rgb(0 0 0 / 10%)

            .l-imgs
                @include box-100()
                justify-content: space-between

                .c-figure
                    width: calc((100% - 20px) / 2)
                    @include box()

            .c-figure
                border-radius: 10px

                .c-cates

                    .cate
                        min-width: 160px
                        min-height: 40px
                        font-size: 20px
                        font-weight: bold
                        color: white

                        &.cate-before
                            background: $color-red4

                        &.cate-after
                            background: $color-pink

            .c-cates

                .cate
                    min-width: 120px
                    min-height: 48px
                    border-width: 2px
                    border-radius: 3px
                    font-weight: bold
                    color: $color-red4

            .c-description
                width: calc(100% - 20px)
                padding: 17px 15px 18px 15px
                border-radius: 5px
                background: rgba(112, 112, 112, 5%)

        .swiper
            padding-left: 0
            padding-right: 0
