section.l-blocks.l-news
    .c-bl-news.p-fadeinup.p-delay_1s
        .c-bl-news__title 
            .l-container
                .c-bl-news__left
                    h2.c-title.c-title--font-64
                        strong
                            | N
                            b e
                            | ws
                        span お知らせ
                .c-bl-news__right 
                    ul.c-tabs-list
                        li.is-active
                            a(href="#") 全て 
                        li 
                            a(href="#") お知らせ
                        li 
                            a(href="#") 製品情報
                        li 
                            a(href="#") 求人情報
        .c-bl-news__content
            ul.c-news
                li.item
                    a(href="news_on.html")
                        .stickys
                            .sticky-new NEW
                        .date 2022.11.01
                        .cates 
                            .cate.cate-1 お知らせ
                        h3.title ホームページをリニューアル致しました。
                li.item
                    a(href="news_on.html")
                        .stickys
                        .date 2022.10.01
                        .cates 
                            .cate.cate-1 製品情報
                        h3.title 製品情報を更新いたしました。
                li.item
                    a(href="news_on.html")
                        .stickys
                        .date 2022.09.01
                        .cates 
                            .cate.cate-1 お知らせ
                        h3.title ホームページを更新いたしました。
                li.item
                    a(href="news_on.html")
                        .stickys
                        .date 2022.01.01
                        .cates 
                            .cate.cate-1 求人情報
                        h3.title 求人情報を更新いたしました。
            .l-container
                a.c-showmore2.c-showmore2--blue(href="news.html")
                    strong お知らせ一覧を見る
                    i.c-icon.ic-arrow-right2
    //- .bg.lazy(data-bg="assets/img/top/bg-1.jpg")