section#D.l-blocks.l-top-5
    .l-banner-6
        .banner
            img.thumbnail.lazy(data-src="assets/img/top/banner-img-4.jpg")
    .l-contents.flex-column.p-fadeinup.p-delay_1s
        .l-container
            h3.c-title.c-title--font-46.c-title--center
                //- span Recommended product
                strong
                    | 私たちと一緒に
                    b 働き
                    | ませんか？
            h4.c-subtitle2.text-center ─ 求人情報 ─
            .l-container-540
                blockquote.c-blockquote.c-blockquote--center.font-15 ここに文章が入ります。現在は、ダミーとして文章を挿入しています。ここに文章が入ります。現在は、ダミーとして文章を挿入しています。ここに文章が入ります。現在は、ダミーとして文章を挿入しています。
            .c-products.c-products--special.col-3
                a.item(href="#") 
                    figure
                        img.lazy(data-src="assets/img/top/img-8.jpg")
                    .info
                        h3.title.title--center 苗字 名前
                        .date 20xx年入社／＊＊＊＊
                a.item(href="#") 
                    figure
                        img.lazy(data-src="assets/img/top/img-9.jpg")
                    .info
                        h3.title.title--center 苗字 名前
                        .date 20xx年入社／＊＊＊＊
                a.item(href="#") 
                    figure
                        img.lazy(data-src="assets/img/top/img-10.jpg")
                    .info
                        h3.title.title--center 苗字 名前
                        .date 20xx年入社／＊＊＊＊
            .l-container-540
                .c-gr-button
                    a.c-button.c-button--outline.c-button--blue.c-button--center(href="recruit.html")
                        i.ic-cursor--blue
                        strong 技工風景を見る
                    a.c-button.c-button--outline.c-button--blue.c-button--center(href="contact.html")
                        i.ic-cursor--blue
                        strong 技工風景を見る
        .bg
            img.img.img-cover.lazy(data-src="assets/img/top/bg-5-2.jpg")