section.l-blocks.l-top-4
    .l-container-full
        .c-bl-news.p-fadein.p-delay_1s
            .c-bl-news__title.mb65.mb45sp
                .l-container
                    .c-bl-news__left.flex-column.mb0tb
                        h2.c-title.subtitle.text92.text52tb.text32sp.text22xs
                            strong.lineheight10
                                | N
                                b e
                                | ws
                        span.c-subtitle.line.line-md.line-bottom
                            strong.text18.text14sp お知らせ
                    .c-bl-news__right.justify-content-end.pc992
                        a.c-button.button-outline.max-width.icon-right.custom-button(href="news.html")
                            strong 一覧を見る
                            i.c-icon.ic-arrow-right-black-3
            .c-bl-news__content
                .l-container
                    ul.c-news.col-4.have-image
                        li.item
                            a.wfull.pb20.bdbottom(href="news_on.html") 
                                figure.c-figure.height240.mb35.mb20sp
                                    img.lazy(data-src="assets/img/top/img-9.jpg")
                                    .c-stickers
                                        span.sticker-new new
                                .c-info.px0.mb0sp
                                    span.c-date 2023.01.01
                                    .c-title.text18.text14sp
                                        strong 公式ホームページをリニューアル致しました。
                        li.item
                            a.wfull.pb20.bdbottom(href="news_on.html") 
                                figure.c-figure.height240.mb35.mb20sp
                                    img.lazy(data-src="assets/img/top/img-10.jpg")
                                .c-info.px0
                                    span.c-date 2022.01.01
                                    .c-title.text18.text14sp.mb0sp
                                        strong 公式ホームページをリニューアル致しました。
                        li.item
                            a.wfull.pb20.bdbottom(href="news_on.html") 
                                figure.c-figure.height240.mb35.mb20sp
                                    img.lazy(data-src="assets/img/top/img-11.jpg")
                                .c-info.px0
                                    span.c-date 2022.01.01
                                    .c-title.text18.text14sp.mb0sp
                                        strong 公式ホームページをリニューアル致しました。
                        li.item
                            a.wfull.pb20.bdbottom(href="news_on.html") 
                                figure.c-figure.height240.mb35.mb20sp
                                    img.lazy(data-src="assets/img/top/img-11.jpg")
                                .c-info.px0
                                    span.c-date 2022.01.01
                                    .c-title.text18.text14sp.mb0sp
                                        strong 公式ホームページをリニューアル致しました。
                    .c-gr-button.mxauto.mt70.mt50sp.sp992
                        a.c-button.button-outline.max-width.icon-right.custom-button.mxauto(href="news.html")
                            strong お知らせ一覧へ
                            i.c-icon.ic-arrow-right-black-3