section.l-blocks.l-top-3
    -full
        .c-banner
            .contents.wfull.contents-left
                h3.c-title.text96.text46tb.text26sp
                    strong.lineheight12.clwhite
                        | Company
                        br
                        | profile
                span.c-subtitle.line.line-md.line-bottom.text18.text14sp.clwhite.mt20.mt10xs
                    strong 会社案内
            .banner.before-bg
                img.lazy(data-src="./assets/img/top/banner-2.jpg")
        .l-block.p-fadeinup.p-delay_1s.pt100.pb110.pt50sp.pb70sp
            .l-container
                .c-images.col-2
                    a.item.line(href="profile.html")
                        .contents
                            h3.c-title.text38.text28tb.text18sp.text14xs.mb5
                                strong.lineheight12.clwhite
                                    | Quality control
                            span.c-subtitle.text15.text13tb.text11sp.clwhite
                                strong _品質管理
                        img.img.img-cover.lazy(data-src="./assets/img/top/img-13.jpg")
                    .c-images__groups
                        a.item(href="profile.html")
                            .contents
                                h3.c-title.text38.text28tb.text18sp.text14xs.mb5
                                    strong.lineheight12.clwhite
                                        | Greeting
                                span.c-subtitle.text15.text13tb.text11sp.clwhite
                                    strong _代表挨拶
                            img.img.img-cover.lazy(data-src="./assets/img/top/img-14.jpg")
                        a.item(href="profile.html")
                            .contents
                                h3.c-title.text38.text28tb.text18sp.text14xs.mb5
                                    strong.lineheight12.clwhite
                                        | Profile
                                span.c-subtitle.text15.text13tb.text11sp.clwhite
                                    strong _会社概要
                            img.img.img-cover.lazy(data-src="./assets/img/top/img-15.jpg")