section.l-blocks.l-top-3
    .l-container-full
        .c-banner.custom-banner
            .contents.wfull.contents-center-bottom.pb60
                .c-cates.mb5
                    span.cate.text28.text18tb.text15sp 肌の赤みを改善
                h3.c-title.text62.text42tb.text32sp.text22xs
                    strong
                        | 期待できる効果
            .banner.before-bg
                img.lazy(data-src="./assets/img/top/banner-2.jpg")
        .l-contents.pb110.pb90tb.pb70sp.position-relative
            .l-container-1200
                .c-cols.c-col-73.have-txt
                    .thumb
                        figure
                            img.lazy(data-src="./assets/img/top/img-4.jpg")
                    .contents
                        .c-cates.mb15.mb10sp
                            .cate
                                span.text24.text20tb.text16sp
                                    small.text16.text14tb.text12sp 効果面
                                    strong 01
                        .c-info.pl5.pr0
                            h3.c-title.text32.text22sp.mb35.mb25sp
                                strong
                                    | 血
                                    b 管
                                    | 腫・赤あざ・赤ら顔の改善
                            .c-description
                                p.text18.text16sp
                                    | 血管腫、赤ら顔、赤あざなどによる皮膚の赤みは、皮膚内の毛細血管が透けて見えることで赤みを帯びて見えます。
                                    br
                                    | VbeamIIを照射することで、赤みの原因である毛細血管の酸化ヘモグロビンのうち、異常をきたしている血管のみを選択的に破壊することができ、これによって肌の赤みを改善することができます。
                    .txt
                        span.c-title.u-line.line-md.line-h-md.line-bottom.text36.text26tb.text16sp.text10xs.pt35.pt20xs
                            strong Effect_01
                .c-cols.c-col-73.have-txt.switch
                    .thumb
                        figure
                            img.lazy(data-src="./assets/img/top/img-4.jpg")
                    .contents
                        .c-cates.mb15.mb10sp
                            .cate
                                span.text24.text20tb.text16sp
                                    small.text16.text14tb.text12sp 効果面
                                    strong 02
                        .c-info.pl5.pr0
                            h3.c-title.text32.text22sp.mb35.mb25sp
                                strong
                                    | ニ
                                    b キ
                                    | ビ・ニキビ跡の赤みの改善
                            .c-description
                                p.text18.text16sp
                                    | 赤みのあるニキビやニキビ跡、傷跡等による皮膚の赤みにもVbeamIIが効果的です。 いずれも皮膚内の毛細血管異常が原因のため、VbeamIIを、照射することによって赤みを改善することができます。
                                    br
                                    | さらにVbeamIIには、皮脂分泌抑制効果や繁殖したアクネ菌を抑制する効果も期待できる他、化膿した状態のニキビにも照射可能です。当院では症状にあわせてピーリングなどの併用治療も行っています。
                                    br
                                    | ニキビ・ニキビ跡治療の場合は、2～3回程度で改善することが多いです。
                    .txt
                        span.c-title.u-line.line-md.line-h-md.line-bottom.text36.text26tb.text16sp.text10xs.pt35.pt20xs
                            strong Effect_02
                .c-cols.c-col-73.have-txt
                    .thumb
                        figure
                            img.lazy(data-src="./assets/img/top/img-4.jpg")
                    .contents
                        .c-cates.mb15.mb10sp
                            .cate
                                span.text24.text20tb.text16sp
                                    small.text16.text14tb.text12sp 効果面
                                    strong 03
                        .c-info.pl5.pr0
                            h3.c-title.text32.text22sp.mb35.mb25sp
                                strong
                                    | 肌
                                    b の
                                    | ハリ・ツヤ感アップ、小じわの改善
                            .c-description
                                p.text18.text16sp
                                    | VbeamIIは、繰り返し照射を行うことで肌質改善（ツヤ・ハリ感アップ）や、小じわ改善などのエイジング効果が期待できます。
                                    br
                                    | レーザーを照射することで皮膚深部のコラーゲン産生を促進し、内側からふっくらとハリのある状態に改善することができます。
                                    br
                                    | 肌質改善を目的とした場合は5回程度の照射をお勧めしています。
                    .txt
                        span.c-title.u-line.line-md.line-h-md.line-bottom.text36.text26tb.text16sp.text10xs.pt35.pt20xs
                            strong Effect_03
        .l-contents.pb110.pb90tb.pb70sp
            .l-container-1320
                .c-cnt
                    .item.left 
                        .contents
                            img.img.img-contain.lazy.mt20.mb10(data-src="./assets/img/top/computer.svg")
                            h3.c-title.title-center.title-border.title-border-short.border-lg.bottom.wfull.text36.text24tb.text20sp.afwhite.pb20.pb15sp
                                strong
                                    | ネット
                                    small から
                                    | ご予約
                            .c-gr-button.gr-button-full.mxauto.justify-content-center.mt30.mt20sp
                                a.l-button(href="#")
                                    .c-button.button-pink.button-outline.min-width-450.max-width-450.icon-right.custom-button2
                                        strong ネット予約ページへ
                                        i.c-icon.ic-arrow-circle-pink-2
                    .item.right
                        .contents
                            img.img.img-contain.lazy.mt20.mb10(data-src="./assets/img/top/mobile.svg")
                            h3.c-title.title-center.title-border.title-border-short.border-lg.bottom.wfull.text36.text24tb.text20sp.afwhite.pb20.pb15sp.mb25.mb15sp
                                strong
                                    | 電話
                                    small から
                                    | ご予約
                            span.c-title.title-center.title-border.title-border-left-right.rotate.border-lg.text18.text16sp.mxauto
                                strong
                                    | 受付時間 : 9:30-16:30
                            span.c-title.text42.text32tb.text22sp.mb5
                                strong.bold
                                    small.text28.text24tb.text20sp.mr5 Tel:
                                    | 0742-35-5678
                            span.c-subtitle.text18.text15tb.text13sp.bold.clwhite.mb60 休診　水曜、木曜午後、土曜午後、日曜