section.l-blocks.l-top-4
    .l-container-full
        .c-banner.custom-banner.lr-20
            .contents.wfull.contents-center-bottom.pb60
                .c-cates.mb5
                    span.cate.text28.text18tb.text15sp 患者様にあった施術を提供
                h3.c-title.text62.text42tb.text32sp.text22xs
                    strong
                        | ２種類の治療方法
            .banner.before-bg
                img.lazy(data-src="./assets/img/top/banner-3.jpg")
        #D.l-block.l-block-1.pb90.pb70sp
            .l-container-1200
                .c-collapsible.unhide
                    dt.header.mb10
                        h3.c-title.title-border.title-border-bottom.bdgray.text42.text32tb.text22sp.clpink.wfull.px20.px15tb.px10sp
                            .c-cates.cate-outline.mr25.mr15tb.mr10sp
                                span.cate.cate-2.radius5 自費診療
                            strong.bold.font-gothic リビジュネーション治療　
                    dd.content.px20.px15tb.px10sp
                        .c-description
                            p.text18.text15tb.text13sp.mb20.mb15tb.mb10sp
                                | リジュビネーション治療では、真皮内に軽微な熱損傷を与え線維芽細胞が活性化されることにより真皮上層でエラスチン、コラーゲンの再構築がはかられ、リジュビネーション効果が得られると言われています。シワの部位や深さ、肌質によって効果は異なります。また、595nmの波長はメラニン色素にも選択的に働くので、表在性の色素性疾患にも効果が期待できます。
                            p.text16.text14tb.text12sp 
                                | ※この治療は薬事承認されていない適応外使用です。
                                br
                                | ※ 保険治療対象外のため自費診療になります。
                        h4.c-title.title-border.title-border-left.border-lg.h25.afpink.text26.text16sp.mt20.mt10sp
                            strong.bold
                                b 効果について　
                                span.text22.text12sp トーンアップ、肌、赤みの改善、肌質改善
                .c-collapsible.unhide
                    dt.header.mb10
                        h3.c-title.title-border.title-border-bottom.bdgray.text42.text32tb.text22sp.clblue.wfull.px20.px15tb.px10sp
                            .c-cates.cate-outline.mr25.mr15tb.mr10sp
                                span.cate.cate-1.radius5 保険診療
                            strong.bold.font-gothic 皮膚良性血管病変治療
                    dd.content.px20.px15tb.px10sp
                        .c-description
                            p.text18.text15tb.text13sp.mb25.mb20tb.mb15sp 
                                | 皮膚良性血管病変への治療では、血中の酸化ヘモグロビンが短時間にダイレーザーの光を吸収・熱変性させることで、病変部の血管内壁から熱破壊され熱凝固を起こし、血管病変自体を閉塞させる治療です。
                                br
                                | 595nmの波長は正常組織にほとんど吸収されないため、正常組織を破壊せず、血管病変のみを選択的に破壊することができます。症状により照射方法や効果も異なるため、治療回数は個人差がありますが、期間をかけて繰り返しレーザーを照射することで徐々に改善していきます。1回で消失しない事が多く、消失を保証するものではありません。
                                br
                                | 医師が診察にて保険適応疾患に該当されるかを判断し治療を開始します。
                            p.text16.text14tb.text12sp 
                                | ※保険治療の場合、治療間隔に制限が設けられています
                                br
                                | ※ ロングパルスダイレーザーによる皮膚良性血管病変の治療は、症状により治療方法、治療期間が異なることをご理解ください。
        .l-block.l-block-2.position-relative.ovh.c-counters.counter-zero.pb70.pb50sp.lr-20
            .l-container-1000
                .l-block__title
                    h3.c-title.title-center.text52.text42tb.text32sp.text22xs.mb80.mb60tb.mb40sp
                        strong
                            | 治
                            b 療
                            | の流れ
                        span.c-subtitle.text13.text11sp.mt5 Method flowdl
                .l-block__main.px20tb
                    .c-collapsible.unhide
                        .counter
                            span step
                        dt.header.mb10.mb0tb
                            h3.c-title.title-border.title-border-bottom.bdgray.text32.text22sp.wfull.px20.px15tb.px10sp
                                strong.bold.font-gothic ご来院・事前のご予約
                        dd.content.px20.px15tb.px10sp
                            .c-description
                                p.text18.text15tb.text13sp
                                    | ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
                    .c-collapsible.unhide
                        .counter
                            span step
                        dt.header.mb10.mb0tb
                            h3.c-title.title-border.title-border-bottom.bdgray.text32.text22sp.wfull.px20.px15tb.px10sp
                                strong.bold.font-gothic 受付・カウンセリング
                        dd.content.px20.px15tb.px10sp
                            .c-description
                                p.text18.text15tb.text13sp
                                    | ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
                    .c-collapsible.unhide
                        .counter
                            span step
                        dt.header.mb10.mb0tb
                            h3.c-title.title-border.title-border-bottom.bdgray.text32.text22sp.wfull.px20.px15tb.px10sp
                                strong.bold.font-gothic 診察
                        dd.content.px20.px15tb.px10sp
                            .c-description
                                p.text18.text15tb.text13sp
                                    | ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
                    .c-collapsible.unhide
                        .counter
                            span step
                        dt.header.mb10.mb0tb
                            h3.c-title.title-border.title-border-bottom.bdgray.text32.text22sp.wfull.px20.px15tb.px10sp
                                strong.bold.font-gothic 処置
                        dd.content.px20.px15tb.px10sp
                            .c-description
                                p.text18.text15tb.text13sp
                                    | ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
                    .c-collapsible.unhide
                        .counter
                            span step
                        dt.header.mb10.mb0tb
                            h3.c-title.title-border.title-border-bottom.bdgray.text32.text22sp.wfull.px20.px15tb.px10sp
                                strong.bold.font-gothic お会計
                        dd.content.px20.px15tb.px10sp
                            .c-description
                                p.text18.text15tb.text13sp
                                    | ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
            img.bg.img.img-cover.lazy.mt45.mt35tb.mt25sp(data-src="assets/img/top/bg-1.jpg")
        #E.l-block.l-block-3.pt90.pt60tb.pt40sp
            .l-block__title
                .l-container
                    h3.c-title.title-center.text52.text42tb.text32sp.text22xs.mb70.mb50sp
                        strong
                            | 症
                            b 例
                            | 紹介
                        span.c-subtitle.text13.text11sp.mt5 Case introduction
            .l-block__main
                .l-container-full
                    .c-products.product-special2.sliders.special.lr-20(data-index="0")
                        .swiper
                            .swiper-container
                                .swiper-wrapper
                                    .item.swiper-slide
                                        .l-imgs
                                            figure.c-figure
                                                img.swiper-lazy(src="./assets/img/top/img-7.jpg")
                                                .c-cates.cate-bottom
                                                    .cate.cate-before before
                                            figure.c-figure
                                                img.swiper-lazy(src="./assets/img/top/img-8.jpg")
                                                .c-cates.cate-bottom
                                                    .cate.cate-after after
                                        .c-info.justify-content-center
                                            .c-cates.cate-outline.justify-content-center.mb15.mb5sp
                                                span.cate.text16.text14tb.text12sp 赤ら顔
                                            h3.c-title.title-center.title-border.title-border-short.border-lg.bottom.text32.text22sp.mb25.mb15sp.pb15.pb10sp
                                                strong.bold 赤ら顔の施術
                                            p.text26.text20sp.bold.wfull.tcm.mb15.mb10sp リビジュネーション治療　
                                            p.c-price.text26.text20sp.bold.mb25.mb15sp
                                                | 4回 
                                                b ¥360,800円
                                                small.text20.text10sp （税込）
                                            .c-description.tcm
                                                span.text20.text18tb.text16sp.bold.mb15.mb10sp 副作用
                                                p.text.text18.text16tb.text14sp 炎症後色素沈着、色素脱失、かゆみ、赤み
                                    .item.swiper-slide
                                        .l-imgs
                                            figure.c-figure
                                                img.swiper-lazy(src="./assets/img/top/img-9.jpg")
                                                .c-cates.cate-bottom
                                                    .cate.cate-before before
                                            figure.c-figure
                                                img.swiper-lazy(src="./assets/img/top/img-10.jpg")
                                                .c-cates.cate-bottom
                                                    .cate.cate-after after
                                        .c-info.justify-content-center
                                            .c-cates.cate-outline.justify-content-center.mb15.mb5sp
                                                span.cate.text16.text14tb.text12sp 赤ら顔
                                            h3.c-title.title-center.title-border.title-border-short.border-lg.bottom.text32.text22sp.mb25.mb15sp.pb15.pb10sp
                                                strong.bold 赤ら顔の施術
                                            p.text26.text20sp.bold.wfull.tcm.mb15.mb10sp リビジュネーション治療　
                                            p.c-price.text26.text20sp.bold.mb25.mb15sp
                                                | 4回 
                                                b ¥360,800円
                                                small.text20.text10sp （税込）
                                            .c-description.tcm
                                                span.text20.text18tb.text16sp.bold.mb15.mb10sp 副作用
                                                p.text.text18.text16tb.text14sp 炎症後色素沈着、色素脱失、かゆみ、赤み
                                    .item.swiper-slide
                                        .l-imgs
                                            figure.c-figure
                                                img.swiper-lazy(src="./assets/img/top/img-11.jpg")
                                                .c-cates.cate-bottom
                                                    .cate.cate-before before
                                            figure.c-figure
                                                img.swiper-lazy(src="./assets/img/top/img-12.jpg")
                                                .c-cates.cate-bottom
                                                    .cate.cate-after after
                                        .c-info.justify-content-center
                                            .c-cates.cate-outline.justify-content-center.mb15.mb5sp
                                                span.cate.text16.text14tb.text12sp 赤ら顔
                                            h3.c-title.title-center.title-border.title-border-short.border-lg.bottom.text32.text22sp.mb25.mb15sp.pb15.pb10sp
                                                strong.bold 赤ら顔の施術
                                            p.text26.text20sp.bold.wfull.tcm.mb15.mb10sp リビジュネーション治療　
                                            p.c-price.text26.text20sp.bold.mb25.mb15sp
                                                | 4回 
                                                b ¥360,800円
                                                small.text20.text10sp （税込）
                                            .c-description.tcm
                                                span.text20.text18tb.text16sp.bold.mb15.mb10sp 副作用
                                                p.text.text18.text16tb.text14sp 炎症後色素沈着、色素脱失、かゆみ、赤み
                                    .item.swiper-slide
                                        .l-imgs
                                            figure.c-figure
                                                img.swiper-lazy(src="./assets/img/top/img-13.jpg")
                                                .c-cates.cate-bottom
                                                    .cate.cate-before before
                                            figure.c-figure
                                                img.swiper-lazy(src="./assets/img/top/img-14.jpg")
                                                .c-cates.cate-bottom
                                                    .cate.cate-after after
                                        .c-info.justify-content-center
                                            .c-cates.cate-outline.justify-content-center.mb15.mb5sp
                                                span.cate.text16.text14tb.text12sp 赤ら顔
                                            h3.c-title.title-center.title-border.title-border-short.border-lg.bottom.text32.text22sp.mb25.mb15sp.pb15.pb10sp
                                                strong.bold 赤ら顔の施術
                                            p.text26.text20sp.bold.wfull.tcm.mb15.mb10sp リビジュネーション治療　
                                            p.c-price.text26.text20sp.bold.mb25.mb15sp
                                                | 4回 
                                                b ¥360,800円
                                                small.text20.text10sp （税込）
                                            .c-description.tcm
                                                span.text20.text18tb.text16sp.bold.mb15.mb10sp 副作用
                                                p.text.text18.text16tb.text14sp 炎症後色素沈着、色素脱失、かゆみ、赤み
                    .c-gr-button.mxauto.justify-content-center.mt70.mt50tb.mt30sp
                        a.c-button.button-pink.button-outline.max-width-450.icon-right.custom-button(href="#")
                            strong 施術一覧を見る
                            i.c-icon.ic-arrow-circle-pink-2
        #H.l-block.l-block-4.pt110.pt80tb.pt60sp.pb110.pb90tb.pb70sp
            .l-container
                .l-block__title
                    h3.c-title.title-center.text52.text42tb.text32sp.text22xs.mb70.mb50sp
                        strong
                            | 施
                            b 術
                            | 料金
                        span.c-subtitle.text13.text11sp.mt5 Treatment pay
                .l-block__main 
                    h4.c-title.title-center.text52.text42tb.text32sp.mb50.mb30tb.mxauto
                        strong
                            small 当院では
                            span.u-highlight.highlight-10.spill-md.position80 奈良県最安
                            | 値
                            small で診療頂けます
                        span.c-subtitle.text18.text15tb.text13sp.clblack.mt20.mt10sp （Vビームは自費治療となります。）
                    .l-contents 
                        .l-container-1000
                            table.c-tables.table-pink.mb60.mb30sp
                                thead 
                                    tr
                                        th(width="50%")
                                            div
                                                p 各部位
                                        th(width="50%")
                                            div
                                                p 金額
                                tbody 
                                    tr
                                        th
                                            div
                                                p 全顔
                                        td
                                            div
                                                p 28,600円
                                    tr
                                        th
                                            div
                                                p 鼻・頬
                                        td
                                            div
                                                p 11,000円
                                    tr
                                        th
                                            div
                                                p フェイスライン
                                        td
                                            div
                                                p 13,200円
                                    tr
                                        th
                                            div
                                                p 頬
                                        td
                                            div
                                                p 18,040円
                                    tr
                                        th
                                            div
                                                p 追加（1shot）
                                        td
                                            div
                                                p 1,100円
                            table.c-tables.table-yellow.mb20.mb10sp
                                thead 
                                    tr
                                        th(width="50%")
                                            div
                                                p その他
                                        th(width="50%")
                                            div
                                                p 金額
                                tbody 
                                    tr
                                        th
                                            div
                                                p 各部位 5回コースへの変更
                                        td
                                            div
                                                p 金額より、5％OFF
                                    tr
                                        th
                                            div
                                                p Dr.適応の治療
                                        td
                                            div
                                                p ＋11,000円
                            p.text16.text14tb.text12sp.mb0
                                | ※金額は、全て消費税込みのものになります。
                                | ※お支払方法は現金払い、クレジットカード払いが可能です。（※クレジットカードは5,000円以上からご利用出来ます）
                        .l-container-1320.mt70.mt50sp
                            .c-cnt
                                .item.left 
                                    .contents
                                        img.img.img-contain.lazy.mt20.mb10(data-src="./assets/img/top/computer.svg")
                                        h3.c-title.title-center.title-border.title-border-short.border-lg.bottom.wfull.text36.text24tb.text20sp.afwhite.pb20.pb15sp
                                            strong
                                                | ネット
                                                small から
                                                | ご予約
                                        .c-gr-button.gr-button-full.mxauto.justify-content-center.mt30.mt20sp
                                            a.l-button(href="https://reserve.acusis.jp/reserve/user/login/form")
                                                .c-button.button-pink.button-outline.min-width-450.max-width-450.icon-right.custom-button2
                                                    strong ネット予約ページへ
                                                    i.c-icon.ic-arrow-circle-pink-2
                                .item.right
                                    .contents
                                        img.img.img-contain.lazy.mt20.mb10(data-src="./assets/img/top/mobile.svg")
                                        h3.c-title.title-center.title-border.title-border-short.border-lg.bottom.wfull.text36.text24tb.text20sp.afwhite.pb20.pb15sp.mb25.mb15sp
                                            strong
                                                | 電話
                                                small から
                                                | ご予約
                                        span.c-title.title-center.title-border.title-border-left-right.rotate.border-lg.text18.text16sp.mxauto
                                            strong
                                                | 受付時間 : 9:30-16:30
                                        span.c-title.text42.text32tb.text22sp.mb5
                                            strong.bold
                                                small.text28.text24tb.text20sp.mr5 Tel:
                                                | 0742-35-5678
                                        span.c-subtitle.text18.text15tb.text13sp.bold.clwhite.mb60 休診　水曜、木曜午後、土曜午後、日曜