section#D.l-blocks.l-top-5
    .l-container-full
        .c-banner.custom-banner
            .contents.wfull.contents-center-bottom.pb60
                .c-cates.mb5
                    span.cate.text28.text18tb.text15sp 当院についてご紹介
                h3.c-title.text62.text42tb.text32sp.text22xs
                    strong
                        | 私たちについて
            .banner.before-bg
                img.lazy(data-src="./assets/img/top/banner-4.jpg")