section.l-blocks.l-top-2
    .l-container-full
        .c-banner.custom-banner
            .contents.wfull.contents-center-bottom.pb60
                .c-cates.mb5
                    span.cate.text28.text18tb.text15sp VビームⅡレーザー
                h3.c-title.text62.text42tb.text32sp.text22xs
                    strong
                        | 3つの特徴
            .banner.before-bg
                img.lazy(data-src="./assets/img/top/banner-1.jpg")
        .l-contents.pb105.pb85tb.pb65sp.position-relative
            .l-container
                .c-notes 
                    .item
                        span.c-title.text28.text24tb.text20sp.clgray.align-items-end.mb20.mb10sp
                            small 特徴
                            strong.ml5 01
                        h3.c-title.text32.text22tb.text20sp.mb50.mb30tb
                            strong 
                                | 赤色に吸収されるレーザー光で、
                                span.u-highlight.highlight-10.spill-2.position80 赤みのある治療に効果
                                | が見込めます
                        .c-description 
                            p.text18.text15tb.text13sp
                                | 赤色の色素に反応するのが特長的なレーザーです。そのため血液中のヘモグロビン（赤血球）に反応します。赤アザや赤ら顔の原因は、血液
                                br.pc992
                                | に含まれるヘモグロビンの色素であり、皮膚の浅い層に血管があったり部分的に血管の量が多かったりするとその部位で血流が増加し、皮膚
                                br.pc992
                                | に赤みが生じたような状態になります。VbeamIIのレーザー光は、血管中のヘモグロビンに吸収されることで余剰な血管や色素を除去し、赤
                                br.pc992
                                | アザ・赤ら顔・赤く炎症したニキビ・ニキビ跡など、あらゆる赤みを伴う皮膚の病変に対して、効果が期待できます。
                    .gr-notes
                        .item
                            span.c-title.text28.text24tb.text20sp.clgray.align-items-end.mb5
                                small 特徴
                                strong.ml5 02
                            h3.c-title.text32.text22tb.text20sp.mb40.mb20tb
                                strong 
                                    span.u-highlight.highlight-10.spill-2.position80 パルス幅の変更
                                    | で
                                    br
                                    | お肌のトラブルに対応致します
                            .c-description 
                                p.text18.text15tb.text13sp
                                    | VbeamIIはパルス幅を変えられるため、肌の弾力やハリ・ツヤ
                                    br.pc992
                                    | に大きく関わる皮膚深部の線維芽細胞を活性化させ、コラーゲ
                                    br.pc992
                                    | ンの生成を促進して光老化した肌に働きかけます。赤アザや赤ら
                                    br.pc992
                                    | 顔の治療とあわせて、小じわの改善やお肌のハリ・ツヤのアッ
                                    br.pc992
                                    | プなどの美肌効果も期待することが可能です。
                        .item
                            span.c-title.text28.text24tb.text20sp.clgray.align-items-end.mb5
                                small 特徴
                                strong.ml5 03
                            h3.c-title.text32.text22tb.text20sp.mb40.mb20tb
                                strong 
                                    span.u-highlight.highlight-10.spill-2.position80 痛みや肌への負担を抑えた
                                    br
                                    | 施術を行います
                            .c-description 
                                p.text18.text15tb.text13sp
                                    | VbeamIIの照射時には、特殊な冷却ガスを同時に噴射します。
                                    br.pc992
                                    | この冷却ガスがお肌を保護するため、個人差はありますが、
                                    br.pc992
                                    | 照射の際には痛みをほぼ感じることがなく、また施術後の赤み
                                    br.pc992
                                    | や腫れなどのダウンタイムも最小限に抑えることができます。
                    p.text18.text15tb.text13sp
                        | 当院では、VbeamⅡ（キャンデラ社製）という器機を使用しております。
                        br
                        | ※VbeamⅡは、医師のいる医療機関でのみ使用可能な医療機器です。
                        br
                        | ※ロングパルスダイレーザーによる皮膚良性血管病変の治療は、症状により治療方法、治療期間が異なることをご理解ください。
            .bg
        //- .l-block.p-fadeinup.p-delay_1s.pt100.pb80.pt50sp.pb70sp#A
        //-     .l-container
        //-         .l-block__title.mb70.mb50sp
        //-             h3.c-title.subtitle.text58.text38tb.text28sp.text24xs.mb30.mb20sp
        //-                 strong
        //-                     | 加
        //-                     b 工
        //-                     | 技術
        //-                 span.c-subtitle.line.line-md.line-bottom.text20.text16tb.text14sp.text12xs Technology
        //-             blockquote.c-blockquote.gothic
        //-                 p.text18.text15sp
        //-                     | 株式会社松山の加工技術を紹介致します。
        //-                     br
        //-                     | 多品種・小ロット製品でも迅速に対応！！シートの原反売り・切り売りもお任せ下さい。
        //-                     br
        //-                     | 最先端の加工技術と豊富な経験で、お客様のニーズにお応え致します。
        //-         .l-block__main
        //-             .c-products.col-2.c-counters.counter-zero
        //-                 a.item.mb70.mb50sp(href="service01.html")
        //-                     figure.c-figure.height510
        //-                         img.lazy(data-src="./assets/img/top/img-1.jpg")
        //-                         .c-cates.cate-bg.cate-top
        //-                             span.cate.counter.counter-right.bold Technology.
        //-                     .c-info.px25.px10tb
        //-                         .c-titles.mb10.mb15tb
        //-                             h3.c-title.text38.text28tb.text18sp.mb0
        //-                                 strong 自動打ち抜き機加工
        //-                             .c-showmore.icon-right.opacity.mx5.mt15.pc992
        //-                                 strong 詳細を見る
        //-                                 i.c-icon.ic-arrow-circle-black-3
        //-                         .c-description.px5
        //-                             p.text16
        //-                                 | 抜型を使用し、量産での生産を行います。
        //-                         .c-showmore.icon-right.opacity.mx5.mt15.sp992
        //-                             strong.fl 詳細を見る
        //-                             i.c-icon.ic-arrow-circle-black-3.fl
        //-                 a.item.mb70.mb50sp(href="service01.html")
        //-                     figure.c-figure.height510
        //-                         img.lazy(data-src="./assets/img/top/img-2.jpg")
        //-                         .c-cates.cate-bg.cate-top
        //-                             span.cate.counter.counter-right.bold Technology.
        //-                     .c-info.px25.px10tb
        //-                         .c-titles.mb10.mb15tb
        //-                             h3.c-title.text38.text28tb.text18sp.mb0
        //-                                 strong クリッカー加工
        //-                             .c-showmore.icon-right.opacity.mx5.mt15.pc992
        //-                                 strong 詳細を見る
        //-                                 i.c-icon.ic-arrow-circle-black-3
        //-                         .c-description.px5
        //-                             p.text16
        //-                                 | 抜型を使用した上で比較的加工数量が少ない際に使用致します。
        //-                         .c-showmore.icon-right.opacity.mx5.mt15.sp992
        //-                             strong.fl 詳細を見る
        //-                             i.c-icon.ic-arrow-circle-black-3.fl
        //-                 a.item.mb70.mb50sp(href="service01.html")
        //-                     figure.c-figure.height510
        //-                         img.lazy(data-src="./assets/img/top/img-3.jpg")
        //-                         .c-cates.cate-bg.cate-top
        //-                             span.cate.counter.counter-right.bold Technology.
        //-                     .c-info.px25.px10tb
        //-                         .c-titles.mb10.mb15tb
        //-                             h3.c-title.text38.text28tb.text18sp.mb0
        //-                                 strong プロッター加工
        //-                             .c-showmore.icon-right.opacity.mx5.mt15.pc992
        //-                                 strong 詳細を見る
        //-                                 i.c-icon.ic-arrow-circle-black-3
        //-                         .c-description.px5
        //-                             p.text16
        //-                                 | 図面通りに刃物が動く機械によって材料を切り出すことが可能です。
        //-                         .c-showmore.icon-right.opacity.mx5.mt15.sp992
        //-                             strong.fl 詳細を見る
        //-                             i.c-icon.ic-arrow-circle-black-3.fl
        //-                 a.item.mb70.mb50sp(href="service01.html")
        //-                     figure.c-figure.height510
        //-                         img.lazy(data-src="./assets/img/top/img-5.jpg")
        //-                         .c-cates.cate-bg.cate-top
        //-                             span.cate.counter.counter-right.bold Technology.
        //-                     .c-info.px25.px10tb
        //-                         .c-titles.mb10.mb15tb
        //-                             h3.c-title.text38.text28tb.text18sp.mb0
        //-                                 strong スーパーカッター加工
        //-                             .c-showmore.icon-right.opacity.mx5.mt15.pc992
        //-                                 strong 詳細を見る
        //-                                 i.c-icon.ic-arrow-circle-black-3
        //-                         .c-description.px5
        //-                             p.text16
        //-                                 | ブロック状に裁断する事が可能です。
        //-                         .c-showmore.icon-right.opacity.mx5.mt15.sp992
        //-                             strong.fl 詳細を見る
        //-                             i.c-icon.ic-arrow-circle-black-3.fl
        //-                 a.item.mb70.mb50sp(href="service01.html")
        //-                     figure.c-figure.height510
        //-                         img.lazy(data-src="./assets/img/top/img-6.jpg")
        //-                         .c-cates.cate-bg.cate-top
        //-                             span.cate.counter.counter-right.bold Technology.
        //-                     .c-info.px25.px10tb
        //-                         .c-titles.mb10.mb15tb
        //-                             h3.c-title.text38.text28tb.text18sp.mb0
        //-                                 strong ギロチン加工
        //-                             .c-showmore.icon-right.opacity.mx5.mt15.pc992
        //-                                 strong 詳細を見る
        //-                                 i.c-icon.ic-arrow-circle-black-3
        //-                         .c-description.px5
        //-                             p.text16
        //-                                 | 最大150tなどの分厚いゴムでも裁断することが出来ます。
        //-                         .c-showmore.icon-right.opacity.mx5.mt15.sp992
        //-                             strong.fl 詳細を見る
        //-                             i.c-icon.ic-arrow-circle-black-3.fl
        //-                 a.item.mb70.mb50sp(href="service01.html")
        //-                     figure.c-figure.height510
        //-                         img.lazy(data-src="./assets/img/top/img-7.jpg")
        //-                         .c-cates.cate-bg.cate-top
        //-                             span.cate.counter.counter-right.bold Technology.
        //-                     .c-info.px25.px10tb
        //-                         .c-titles.mb10.mb15tb
        //-                             h3.c-title.text38.text28tb.text18sp.mb0
        //-                                 strong バーチカル加工
        //-                             .c-showmore.icon-right.opacity.mx5.mt15.pc992
        //-                                 strong 詳細を見る
        //-                                 i.c-icon.ic-arrow-circle-black-3
        //-                         .c-description.px5
        //-                             p.text16
        //-                                 | 一定方向に回り続ける刃物によってスポンジ素材を直角に裁断が可能です。
        //-                         .c-showmore.icon-right.opacity.mx5.mt15.sp992
        //-                             strong.fl 詳細を見る
        //-                             i.c-icon.ic-arrow-circle-black-3.fl
        //-                 a.item.mb70.mb50sp(href="service01.html")
        //-                     figure.c-figure.height510
        //-                         img.lazy(data-src="./assets/img/top/img-8.jpg")
        //-                         .c-cates.cate-bg.cate-top
        //-                             span.cate.counter.counter-right.bold Technology.
        //-                     .c-info.px25.px10tb
        //-                         .c-titles.mb10.mb15tb
        //-                             h3.c-title.text38.text28tb.text18sp.mb0
        //-                                 strong スリッター加工
        //-                             .c-showmore.icon-right.opacity.mx5.mt15.pc992
        //-                                 strong 詳細を見る
        //-                                 i.c-icon.ic-arrow-circle-black-3
        //-                         .c-description.px5
        //-                             p.text16
        //-                                 | リング状の刃に材質を通し、任意の幅に素材をカットする事が可能です。
        //-                         .c-showmore.icon-right.opacity.mx5.mt15.sp992
        //-                             strong.fl 詳細を見る
        //-                             i.c-icon.ic-arrow-circle-black-3.fl
        //-                 a.item.mb70.mb50sp(href="service01.html")
        //-                     figure.c-figure.height510
        //-                         img.lazy(data-src="./assets/img/top/img-4.jpg")
        //-                         .c-cates.cate-bg.cate-top
        //-                             span.cate.counter.counter-right.bold Technology.
        //-                     .c-info.px25.px10tb
        //-                         .c-titles.mb10.mb15tb
        //-                             h3.c-title.text38.text28tb.text18sp.mb0
        //-                                 strong 接着加工
        //-                             .c-showmore.icon-right.opacity.mx5.mt15.pc992
        //-                                 strong 詳細を見る
        //-                                 i.c-icon.ic-arrow-circle-black-3
        //-                         .c-description.px5
        //-                             p.text16
        //-                                 | 主に同素材同士での長さ接着や額縁接着などを行います。
        //-                         .c-showmore.icon-right.opacity.mx5.mt15.sp992
        //-                             strong.fl 詳細を見る
        //-                             i.c-icon.ic-arrow-circle-black-3.fl
        //-                 a.item.mb70.mb50sp(href="service01.html")
        //-                     figure.c-figure.height510
        //-                         img.lazy(data-src="./assets/img/common/no-img.jpg")
        //-                         .c-cates.cate-bg.cate-top
        //-                             span.cate.counter.counter-right.bold Technology.
        //-                     .c-info.px25.px10tb
        //-                         .c-titles.mb10.mb15tb
        //-                             h3.c-title.text38.text28tb.text18sp.mb0
        //-                                 strong 金型成型加工
        //-                             .c-showmore.icon-right.opacity.mx5.mt15.pc992
        //-                                 strong 詳細を見る
        //-                                 i.c-icon.ic-arrow-circle-black-3
        //-                         .c-description.px5
        //-                             p.text16
        //-                                 | ゴム生地を金型に挟み込み、熱と圧力を加え、任意の形状に成型することが可能です。
        //-                         .c-showmore.icon-right.opacity.mx5.mt15.sp992
        //-                             strong.fl 詳細を見る
        //-                             i.c-icon.ic-arrow-circle-black-3.fl
        //-                 a.item.mb70.mb50sp(href="service01.html")
        //-                     figure.c-figure.height510
        //-                         img.lazy(data-src="./assets/img/common/no-img.jpg")
        //-                         .c-cates.cate-bg.cate-top
        //-                             span.cate.counter.counter-right.bold Technology.
        //-                     .c-info.px25.px10tb
        //-                         .c-titles.mb10.mb15tb
        //-                             h3.c-title.text38.text28tb.text18sp.mb0
        //-                                 strong 切削加工
        //-                             .c-showmore.icon-right.opacity.mx5.mt15.pc992
        //-                                 strong 詳細を見る
        //-                                 i.c-icon.ic-arrow-circle-black-3
        //-                         .c-description.px5
        //-                             p.text16
        //-                                 | ゴムを削ることで任意の形状に形を整える加工です。
        //-                         .c-showmore.icon-right.opacity.mx5.mt15.sp992
        //-                             strong.fl 詳細を見る
        //-                             i.c-icon.ic-arrow-circle-black-3.fl
        //-                 a.item.mb70.mb50sp(href="service01.html")
        //-                     figure.c-figure.height510
        //-                         img.lazy(data-src="./assets/img/common/no-img.jpg")
        //-                         .c-cates.cate-bg.cate-top
        //-                             span.cate.counter.counter-right.bold Technology.
        //-                     .c-info.px25.px10tb
        //-                         .c-titles.mb10.mb15tb
        //-                             h3.c-title.text38.text28tb.text18sp.mb0
        //-                                 strong 押し出し加工
        //-                             .c-showmore.icon-right.opacity.mx5.mt15.pc992
        //-                                 strong 詳細を見る
        //-                                 i.c-icon.ic-arrow-circle-black-3
        //-                         .c-description.px5
        //-                             p.text16
        //-                                 | ところてんを押し出す原理で、口金にゴムを押し出しながら任意の形に成型が可能です。
        //-                         .c-showmore.icon-right.opacity.mx5.mt15.sp992
        //-                             strong.fl 詳細を見る
        //-                             i.c-icon.ic-arrow-circle-black-3.fl
                    //- .c-gr-button.mxauto.mt30.mt55sp
                    //-     a.c-button.button-outline.max-width.icon-right.custom-button(href="profile.html")
                    //-         strong 会社案内へ
                    //-         i.c-icon.ic-arrow-right-black-3
                    //-     a.c-button.button-outline.max-width.icon-right.custom-button(href="contact.html")
                    //-         strong お問合せへ
                    //-         i.c-icon.ic-arrow-right-black-3
            