section.l-blocks.l-instagram
    .l-container.p-fadeinup.p-delay_1s
        .c-instagram 
            .left.bg-img.bg-img-cover.lazy(data-bg="assets/img/common/ins-bg.jpg")
                .contents
                    img.lazy(data-src="assets/img/common/ic-instagram.svg")
                    span 公式Instagram
                    h3 アサノデンタルラボ
                    p.font-14 #奈良歯科技工所
                    p 
                        | アート盛上げ印刷 公式インスタグラムより
                        br
                        | 「#アート盛上げ印刷」の投稿を表示しています。
                    a.c-button.c-button--white.c-button--opacity.opacity(href="#")
                        i.ic-next-blue
                        strong 詳細を見る
            .right 
                .c-imgs2
                    img.lazy(data-src="assets/img/common/ins-1.jpg")
                    img.lazy(data-src="assets/img/common/ins-2.jpg")
                    img.lazy(data-src="assets/img/common/ins-3.jpg")
                    img.lazy(data-src="assets/img/common/ins-4.jpg")
                    img.lazy(data-src="assets/img/common/ins-5.jpg")
                    img.lazy(data-src="assets/img/common/ins-6.jpg")
                    img.lazy(data-src="assets/img/common/ins-7.jpg")
                    img.lazy(data-src="assets/img/common/ins-8.jpg")
                    img.lazy(data-src="assets/img/common/ins-9.jpg")
                    img.lazy(data-src="assets/img/common/ins-10.jpg")