section.l-blocks.l-top-4
    .l-container-full
        .c-banner.custom-banner
            .contents.wfull.contents-center-bottom.pb60
                .c-cates.mb5
                    span.cate.text28.text18tb.text15sp 患者様にあった施術を提供
                h3.c-title.text62.text42tb.text32sp.text22xs
                    strong
                        | ２種類の治療方法
            .banner.before-bg
                img.lazy(data-src="./assets/img/top/banner-3.jpg")
        .l-contents.position-relative.ovh.c-counters.counter-zero.pb70.pb50sp
            .l-container-1000
                h3.c-title.title-center.text52.text42tb.text32sp.text22xs
                    strong
                        | 治
                        b 療
                        | の流れ
                    span.c-subtitle.text13.text11sp.mt5 Method flowdl
                .c-collapsible.unhide
                    //- .counter
                    //-     span step
                    dt.header.mb10
                        h3.c-title.title-border.title-border-bottom.bdgray.text32.text22sp.wfull.px20.px15tb.px10sp
                            strong ご来院・事前のご予約
                    dd.content.px20.px15tb.px10sp
                        .c-description
                            p.text18.text15tb.text13sp
                                | ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
                //- ul.c-list.px20tb
                //-     li
                //-         h3.c-title.text38.text28tb.text18sp
                //-             strong.bold.font-gothic
                //-                 span.u-highlight.highlight-10.spill-2.position80 赤アザ
                //-                 | などの
                //-                 span.u-highlight.highlight-10.spill-2.position80 赤い色素沈着
                //-                 | が気になる。
                //-     li
                //-         h3.c-title.text38.text28tb.text18sp
                //-             strong.bold.font-gothic
                //-                 span.u-highlight.highlight-10.spill-2.position80 赤ら顔
                //-                 | を治したい。
                //-     li
                //-         h3.c-title.text38.text28tb.text18sp
                //-             strong.bold.font-gothic
                //-                 span.u-highlight.highlight-10.spill-2.position80 にきび跡の肌の赤み
                //-                 | が気になる。
                //-     li
                //-         h3.c-title.text38.text28tb.text18sp
                //-             strong.bold.font-gothic
                //-                 span.u-highlight.highlight-10.spill-2.position80 お肌のハリやツヤ
                //-                 | をアップさせたい。
                //-     li
                //-         h3.c-title.text38.text28tb.text18sp
                //-             strong.bold.font-gothic
                //-                 span.u-highlight.highlight-10.spill-2.position80 小じわ
                //-                 | を改善させたい。   
            img.bg.img.img-cover.lazy.mt45.mt35tb.mt25sp(data-src="assets/img/top/bg-1.jpg")