section.l-blocks.l-top-2
    .l-container-full
        .c-banner
            .contents.wfull.contents-left
                h3.c-title.text96.text46tb.text26sp
                    strong.lineheight12.clwhite
                        | Processing
                        br
                        | technology
                span.c-subtitle.line.line-md.line-bottom.text18.text14sp.clwhite.mt20.mt10xs
                    strong 加工技術紹介
            .banner.before-bg
                img.lazy(data-src="./assets/img/top/banner-1.jpg")
        .l-block.p-fadeinup.p-delay_1s.pt100.pb80.pt50sp.pb70sp#A
            .l-container
                .l-block__title.mb70.mb50sp
                    h3.c-title.subtitle.text58.text38tb.text28sp.text24xs.mb30.mb20sp
                        strong
                            | 加
                            b 工
                            | 技術
                        span.c-subtitle.line.line-md.line-bottom.text20.text16tb.text14sp.text12xs Technology
                    blockquote.c-blockquote.gothic
                        p.text18.text15sp
                            | 株式会社松山の加工技術を紹介致します。
                            br
                            | 多品種・小ロット製品でも迅速に対応！！シートの原反売り・切り売りもお任せ下さい。
                            br
                            | 最先端の加工技術と豊富な経験で、お客様のニーズにお応え致します。
                .l-block__main
                    .c-products.col-2.c-counters.counter-zero
                        a.item.mb70.mb50sp(href="service01.html")
                            figure.c-figure.height510
                                img.lazy(data-src="./assets/img/top/img-1.jpg")
                                .c-cates.cate-bg.cate-top
                                    span.cate.counter.counter-right.bold Technology.
                            .c-info.px25.px10tb
                                .c-titles.mb10.mb15tb
                                    h3.c-title.text38.text28tb.text18sp.mb0
                                        strong 自動打ち抜き機加工
                                    .c-showmore.icon-right.opacity.mx5.mt15.pc992
                                        strong 詳細を見る
                                        i.c-icon.ic-arrow-circle-black-3
                                .c-description.px5
                                    p.text16
                                        | 抜型を使用し、量産での生産を行います。
                                .c-showmore.icon-right.opacity.mx5.mt15.sp992
                                    strong.fl 詳細を見る
                                    i.c-icon.ic-arrow-circle-black-3.fl
                        a.item.mb70.mb50sp(href="service01.html")
                            figure.c-figure.height510
                                img.lazy(data-src="./assets/img/top/img-2.jpg")
                                .c-cates.cate-bg.cate-top
                                    span.cate.counter.counter-right.bold Technology.
                            .c-info.px25.px10tb
                                .c-titles.mb10.mb15tb
                                    h3.c-title.text38.text28tb.text18sp.mb0
                                        strong クリッカー加工
                                    .c-showmore.icon-right.opacity.mx5.mt15.pc992
                                        strong 詳細を見る
                                        i.c-icon.ic-arrow-circle-black-3
                                .c-description.px5
                                    p.text16
                                        | 抜型を使用した上で比較的加工数量が少ない際に使用致します。
                                .c-showmore.icon-right.opacity.mx5.mt15.sp992
                                    strong.fl 詳細を見る
                                    i.c-icon.ic-arrow-circle-black-3.fl
                        a.item.mb70.mb50sp(href="service01.html")
                            figure.c-figure.height510
                                img.lazy(data-src="./assets/img/top/img-3.jpg")
                                .c-cates.cate-bg.cate-top
                                    span.cate.counter.counter-right.bold Technology.
                            .c-info.px25.px10tb
                                .c-titles.mb10.mb15tb
                                    h3.c-title.text38.text28tb.text18sp.mb0
                                        strong プロッター加工
                                    .c-showmore.icon-right.opacity.mx5.mt15.pc992
                                        strong 詳細を見る
                                        i.c-icon.ic-arrow-circle-black-3
                                .c-description.px5
                                    p.text16
                                        | 図面通りに刃物が動く機械によって材料を切り出すことが可能です。
                                .c-showmore.icon-right.opacity.mx5.mt15.sp992
                                    strong.fl 詳細を見る
                                    i.c-icon.ic-arrow-circle-black-3.fl
                        a.item.mb70.mb50sp(href="service01.html")
                            figure.c-figure.height510
                                img.lazy(data-src="./assets/img/top/img-5.jpg")
                                .c-cates.cate-bg.cate-top
                                    span.cate.counter.counter-right.bold Technology.
                            .c-info.px25.px10tb
                                .c-titles.mb10.mb15tb
                                    h3.c-title.text38.text28tb.text18sp.mb0
                                        strong スーパーカッター加工
                                    .c-showmore.icon-right.opacity.mx5.mt15.pc992
                                        strong 詳細を見る
                                        i.c-icon.ic-arrow-circle-black-3
                                .c-description.px5
                                    p.text16
                                        | ブロック状に裁断する事が可能です。
                                .c-showmore.icon-right.opacity.mx5.mt15.sp992
                                    strong.fl 詳細を見る
                                    i.c-icon.ic-arrow-circle-black-3.fl
                        a.item.mb70.mb50sp(href="service01.html")
                            figure.c-figure.height510
                                img.lazy(data-src="./assets/img/top/img-6.jpg")
                                .c-cates.cate-bg.cate-top
                                    span.cate.counter.counter-right.bold Technology.
                            .c-info.px25.px10tb
                                .c-titles.mb10.mb15tb
                                    h3.c-title.text38.text28tb.text18sp.mb0
                                        strong ギロチン加工
                                    .c-showmore.icon-right.opacity.mx5.mt15.pc992
                                        strong 詳細を見る
                                        i.c-icon.ic-arrow-circle-black-3
                                .c-description.px5
                                    p.text16
                                        | 最大150tなどの分厚いゴムでも裁断することが出来ます。
                                .c-showmore.icon-right.opacity.mx5.mt15.sp992
                                    strong.fl 詳細を見る
                                    i.c-icon.ic-arrow-circle-black-3.fl
                        a.item.mb70.mb50sp(href="service01.html")
                            figure.c-figure.height510
                                img.lazy(data-src="./assets/img/top/img-7.jpg")
                                .c-cates.cate-bg.cate-top
                                    span.cate.counter.counter-right.bold Technology.
                            .c-info.px25.px10tb
                                .c-titles.mb10.mb15tb
                                    h3.c-title.text38.text28tb.text18sp.mb0
                                        strong バーチカル加工
                                    .c-showmore.icon-right.opacity.mx5.mt15.pc992
                                        strong 詳細を見る
                                        i.c-icon.ic-arrow-circle-black-3
                                .c-description.px5
                                    p.text16
                                        | 一定方向に回り続ける刃物によってスポンジ素材を直角に裁断が可能です。
                                .c-showmore.icon-right.opacity.mx5.mt15.sp992
                                    strong.fl 詳細を見る
                                    i.c-icon.ic-arrow-circle-black-3.fl
                        a.item.mb70.mb50sp(href="service01.html")
                            figure.c-figure.height510
                                img.lazy(data-src="./assets/img/top/img-8.jpg")
                                .c-cates.cate-bg.cate-top
                                    span.cate.counter.counter-right.bold Technology.
                            .c-info.px25.px10tb
                                .c-titles.mb10.mb15tb
                                    h3.c-title.text38.text28tb.text18sp.mb0
                                        strong スリッター加工
                                    .c-showmore.icon-right.opacity.mx5.mt15.pc992
                                        strong 詳細を見る
                                        i.c-icon.ic-arrow-circle-black-3
                                .c-description.px5
                                    p.text16
                                        | リング状の刃に材質を通し、任意の幅に素材をカットする事が可能です。
                                .c-showmore.icon-right.opacity.mx5.mt15.sp992
                                    strong.fl 詳細を見る
                                    i.c-icon.ic-arrow-circle-black-3.fl
                        a.item.mb70.mb50sp(href="service01.html")
                            figure.c-figure.height510
                                img.lazy(data-src="./assets/img/top/img-4.jpg")
                                .c-cates.cate-bg.cate-top
                                    span.cate.counter.counter-right.bold Technology.
                            .c-info.px25.px10tb
                                .c-titles.mb10.mb15tb
                                    h3.c-title.text38.text28tb.text18sp.mb0
                                        strong 接着加工
                                    .c-showmore.icon-right.opacity.mx5.mt15.pc992
                                        strong 詳細を見る
                                        i.c-icon.ic-arrow-circle-black-3
                                .c-description.px5
                                    p.text16
                                        | 主に同素材同士での長さ接着や額縁接着などを行います。
                                .c-showmore.icon-right.opacity.mx5.mt15.sp992
                                    strong.fl 詳細を見る
                                    i.c-icon.ic-arrow-circle-black-3.fl
                        a.item.mb70.mb50sp(href="service01.html")
                            figure.c-figure.height510
                                img.lazy(data-src="./assets/img/common/no-img.jpg")
                                .c-cates.cate-bg.cate-top
                                    span.cate.counter.counter-right.bold Technology.
                            .c-info.px25.px10tb
                                .c-titles.mb10.mb15tb
                                    h3.c-title.text38.text28tb.text18sp.mb0
                                        strong 金型成型加工
                                    .c-showmore.icon-right.opacity.mx5.mt15.pc992
                                        strong 詳細を見る
                                        i.c-icon.ic-arrow-circle-black-3
                                .c-description.px5
                                    p.text16
                                        | ゴム生地を金型に挟み込み、熱と圧力を加え、任意の形状に成型することが可能です。
                                .c-showmore.icon-right.opacity.mx5.mt15.sp992
                                    strong.fl 詳細を見る
                                    i.c-icon.ic-arrow-circle-black-3.fl
                        a.item.mb70.mb50sp(href="service01.html")
                            figure.c-figure.height510
                                img.lazy(data-src="./assets/img/common/no-img.jpg")
                                .c-cates.cate-bg.cate-top
                                    span.cate.counter.counter-right.bold Technology.
                            .c-info.px25.px10tb
                                .c-titles.mb10.mb15tb
                                    h3.c-title.text38.text28tb.text18sp.mb0
                                        strong 切削加工
                                    .c-showmore.icon-right.opacity.mx5.mt15.pc992
                                        strong 詳細を見る
                                        i.c-icon.ic-arrow-circle-black-3
                                .c-description.px5
                                    p.text16
                                        | ゴムを削ることで任意の形状に形を整える加工です。
                                .c-showmore.icon-right.opacity.mx5.mt15.sp992
                                    strong.fl 詳細を見る
                                    i.c-icon.ic-arrow-circle-black-3.fl
                        a.item.mb70.mb50sp(href="service01.html")
                            figure.c-figure.height510
                                img.lazy(data-src="./assets/img/common/no-img.jpg")
                                .c-cates.cate-bg.cate-top
                                    span.cate.counter.counter-right.bold Technology.
                            .c-info.px25.px10tb
                                .c-titles.mb10.mb15tb
                                    h3.c-title.text38.text28tb.text18sp.mb0
                                        strong 押し出し加工
                                    .c-showmore.icon-right.opacity.mx5.mt15.pc992
                                        strong 詳細を見る
                                        i.c-icon.ic-arrow-circle-black-3
                                .c-description.px5
                                    p.text16
                                        | ところてんを押し出す原理で、口金にゴムを押し出しながら任意の形に成型が可能です。
                                .c-showmore.icon-right.opacity.mx5.mt15.sp992
                                    strong.fl 詳細を見る
                                    i.c-icon.ic-arrow-circle-black-3.fl
                    //- .c-gr-button.mxauto.mt30.mt55sp
                    //-     a.c-button.button-outline.max-width.icon-right.custom-button(href="profile.html")
                    //-         strong 会社案内へ
                    //-         i.c-icon.ic-arrow-right-black-3
                    //-     a.c-button.button-outline.max-width.icon-right.custom-button(href="contact.html")
                    //-         strong お問合せへ
                    //-         i.c-icon.ic-arrow-right-black-3
            