section#A.l-blocks.l-top-1
    .l-container-full
        .l-block.l-block-1.pt80.pt60tb.pt40sp.pb110.pb80tb.pb50sp
            .l-block__title
                h2.c-title.title-center.text52.text42tb.text32sp.text22xs.mb50.mb30tb
                    strong.u-highlight.highlight-10.spill-md.position80
                        | VビームⅡレーザーとは
            .l-block__main
                .l-contents.flex-column.align-items-center
                    .l-container.position-relative
                        .l-container-500
                            h3.c-title.title-center.text34.text24tb.text18sp.mb15.mb10sp
                                strong
                                    b 赤色の色素
                                    small に反応して
                            h3.c-title.title-center.text34.text24tb.text18sp.mb30.mb20sp
                                strong
                                    b 余剰な血管や色素
                                    | を除去
                            .c-description.tcm
                                p.text18.text15sp
                                    | 赤色の色素に反応するのが特長的なレーザーで、VbeamIIのレーザー光は、血管中のヘモグロビンに吸収されることで余剰な血管や色素を除去し、
                                    br
                                    | 赤アザ・赤ら顔・赤く炎症したニキビ・ニキビ跡など、
                                    br
                                    | あらゆる赤みを伴う皮膚の病変に対して、
                                    br
                                    | 効果が期待できます。
                        .l-txt.mt90.mt60tb.mt30sp.mb50.mb30tb.mb20sp
                            .l-container-590.tcm.px10.px0tb
                                p.text32.text22tb.text18sp.light.font-aotf-m.mb20.mb10sp VビームⅡレーザーの使用で…
                                img.lazy(data-src="./assets/img/top/arrow-down.svg", alt="")
                        img.img-bg.left.lazy.pc992(data-src="assets/img/top/bg-img-1.png")
                        img.img-bg.right.lazy.pc992(data-src="assets/img/top/bg-img-2.png")
                .l-contents 
                    .l-container
                        h3.c-title.justify-content-center.flex-row.text42.text32tb.text22sp.text18xs.mb15.mb10sp
                            strong.clwhite.bgpink.px20.px10sp.py10.py5sp 赤アザ・赤ら顔
                            strong.px20.px10sp.py10.py5sp
                                small.text36.text26tb.text16sp の
                                | 治療や、
                        h3.c-title.justify-content-center.flex-row.text42.text32tb.text22sp.text18xs.mb70.mb50sp
                            strong.px20.px10sp.py10.py5sp
                                u 小じわ改善、肌のツヤ・ハリに
                            strong.clwhite.bgpink.px20.px10sp.py10.py5sp
                                | 効果を発揮!!
                        .l-titles.justify-content-center.mb15
                            i.c-icon.icon-18.ic-plus-square
                            span.text24.text20tb.text16sp.ml10 赤ら顔の施術
                        .l-container-848.px10.px0tb.mb70.mb50tb
                            .c-images.col-2.space20
                                .item.pb20
                                    img.img.radius10.lazy(data-src="./assets/img/top/img-1.jpg")
                                    .c-cates
                                        .cate.cate-before.text22.text18tb.text14sp before
                                .item.pb20
                                    img.img.radius10.lazy(data-src="./assets/img/top/img-2.jpg")
                                    .c-cates
                                        .cate.cate-after.text22.text18tb.text14sp after
                        .c-gr-button.mxauto.justify-content-center
                            a.c-button.button-pink.button-outline.icon-right.custom-button(href="#")
                                strong VビームⅡレーザーの特徴
                                i.c-icon.ic-arrow-circle-pink-2
                            a.c-button.button-pink.button-outline.icon-right.custom-button(href="#")
                                strong 期待できる効果
                                i.c-icon.ic-arrow-circle-pink-2
                            a.c-button.button-pink.button-outline.icon-right.custom-button(href="#")
                                strong 治療方法を確認
                                i.c-icon.ic-arrow-circle-pink-2
        .l-block.l-block-2.position-relative.ovh.pb70.pb50tb.lr-20
            .l-container-1000
                .l-block__title
                    h3.c-title.title-center.text52.text42tb.text32sp.text22xs.mb50.mb30tb
                        strong
                            | こんな
                            b お悩み
                            | はございませんか?
                .l-block__main   
                    ul.c-list.px20tb
                        li
                            h3.c-title.text38.text28tb.text18sp
                                strong.bold.font-gothic
                                    span.u-highlight.highlight-10.spill-2.position80 赤アザ
                                    | などの
                                    span.u-highlight.highlight-10.spill-2.position80 赤い色素沈着
                                    | が気になる。
                        li
                            h3.c-title.text38.text28tb.text18sp
                                strong.bold.font-gothic
                                    span.u-highlight.highlight-10.spill-2.position80 赤ら顔
                                    | を治したい。
                        li
                            h3.c-title.text38.text28tb.text18sp
                                strong.bold.font-gothic
                                    span.u-highlight.highlight-10.spill-2.position80 にきび跡の肌の赤み
                                    | が気になる。
                        li
                            h3.c-title.text38.text28tb.text18sp
                                strong.bold.font-gothic
                                    span.u-highlight.highlight-10.spill-2.position80 お肌のハリやツヤ
                                    | をアップさせたい。
                        li
                            h3.c-title.text38.text28tb.text18sp
                                strong.bold.font-gothic
                                    span.u-highlight.highlight-10.spill-2.position80 小じわ
                                    | を改善させたい。   
            img.bg.img.img-cover.lazy.mt45.mt35tb.mt25sp(data-src="assets/img/top/bg-1.jpg")
        .l-block.l-block-3.pt80.pt60tb.pt40sp.pb110.pb80tb.pb50sp
            .l-container
                .l-block__title
                    h4.c-title.title-center.text42.text32tb.text22sp.text18xs.mb5
                        strong
                            | この中で、1つでも当てはまるお客様へ…
                    h3.c-title.title-center.text52.text42tb.text32sp.text22xs.mb40.mb20sp
                        strong
                            small 当院では
                            b.d-inline-flex.flex-column
                                | お悩み
                                span.text28.text24tb.text20sp.text14xs （自費治療）
                            small はございませんか?
                .l-block__main
                    .l-container-1300
                        .c-cols.c-col-55.justify-content-between.align-items-center.switch
                            .thumb.pl10.pl0tb.mb30tb
                                figure.c-box.radius10
                                    img.img.img-cover.lazy(data-src="./assets/img/top/img-3.jpg")
                            .contents.align-items-center.pr50.pr0tb
                                table
                                    tr 
                                        td
                                            p 全顔
                                        td
                                            p 頬
                                        td
                                            p 鼻
                                        td
                                            p 額
                                    tr 
                                        td(colspan="4")
                                            p フェイスライン
                                h3.c-title.title-center.text42.text32tb.text22sp.text18xs.mxauto
                                    strong
                                        small は
                                        b 自費診療
                                        small で受けられます
                        .c-gr-button.mxauto.justify-content-center.mt80.mt50tb.mt30sp
                            a.c-button.button-pink.button-outline.max-width-450.icon-right.custom-button(href="index.html#H")
                                strong 施術料金を見る
                                i.c-icon.ic-arrow-circle-pink-2