section#D.l-blocks.l-top-5
    .l-container-full
        .c-banner.custom-banner.lr-20
            .contents.wfull.contents-center-bottom.pb60
                .c-cates.mb5
                    span.cate.text28.text18tb.text15sp 当院についてご紹介
                h3.c-title.text62.text42tb.text32sp.text22xs
                    strong
                        | 私たちについて
            .banner.before-bg
                img.lazy(data-src="./assets/img/top/banner-4.jpg")
        .l-block.l-block-1.pb90.pb70sp
            .l-container
                .c-cols.c-col-64
                    .thumb
                        figure
                            img.lazy(data-src="./assets/img/top/img-15.jpg")
                    .contents
                        .c-cates.mb20.mb10sp
                            .cate
                                span.text24.text20tb.text16sp
                                    small.text16.text14tb.text12sp 効果面
                                    strong 01
                        .c-info.pl5.flex-column
                            h3.c-title.text32.text22sp.mb5
                                strong 奈良県下では、
                            h3.c-title.text32.text22sp.mb40.mb30tb.mb20sp
                                strong
                                    b 初導入の最新機器
                                    | も多数ございます
                            .c-description
                                p.text18.text16sp
                                    | 当院は大和西大寺駅北口より徒歩1分の皮膚科クリニックです。
                                    br
                                    | 地元の皆様のために、奈良県下初の最新機器を多数導入し、大阪・京都に行かなくても最新機器による治療が受けられます。
                        .txt
                            span.c-title.u-line.line-md.line-h-md.line-bottom.text36.text26tb.text16sp.text10xs.mt40.mt30tb.mt20sp
                                strong Features_01
                .c-cols.c-col-64.switch
                    .thumb
                        figure
                            img.lazy(data-src="./assets/img/top/img-16.jpg")
                    .contents
                        .c-cates.mb20.mb10sp
                            .cate
                                span.text24.text20tb.text16sp
                                    small.text16.text14tb.text12sp 効果面
                                    strong 02
                        .c-info.pl5.flex-column
                            h3.c-title.text32.text22sp.mb5
                                strong
                                    b 女性の目線
                                    | と、
                            h3.c-title.text32.text22sp.mb40.mb30tb.mb20sp
                                strong 皮膚疾患で悩んだ経験をもとに
                            .c-description
                                p.text18.text16sp
                                    | 日常生活に影響が極力少なく、質の高い治療や薬剤を取り入れています。
                                    br
                                    | 例えばシミの治療では、周囲の目が気になるテープ治療は使わず治療ができます。女性ならではの目線で、また自身も皮膚疾患でたくさん悩んだ経験を基に、痛みの少ない、細やかな診療を心がけます。
                        .txt
                            span.c-title.u-line.line-md.line-h-md.line-bottom.text36.text26tb.text16sp.text10xs.mt40.mt30tb.mt20sp
                                strong Features_02
                .c-cols.c-col-64
                    .thumb
                        figure
                            img.lazy(data-src="./assets/img/top/img-17.jpg")
                    .contents
                        .c-cates.mb20.mb10sp
                            .cate
                                span.text24.text20tb.text16sp
                                    small.text16.text14tb.text12sp 効果面
                                    strong 03
                        .c-info.pl5.flex-column
                            h3.c-title.text32.text22sp.mb5
                                strong
                                    b 皮膚科専門医
                                    | として
                            h3.c-title.text32.text22sp.mb40.mb30tb.mb20sp
                                strong
                                    | 保険診療に力をいれています
                            .c-description
                                p.text18.text16sp
                                    | 治すだけでなく、あらゆる悩みにお応えするため自費診療も取り入れ多角的なオーダーメイド治療を行います。
                                    br
                                    | 皮膚科専門医として保険診療に力をいれており、紫外線療法もできます。
                                    br
                                    | 保険だけでは対応できない悩みにあらゆる角度で悩みにアプローチします。
                        .txt
                            span.c-title.u-line.line-md.line-h-md.line-bottom.text36.text26tb.text16sp.text10xs.mt40.mt30tb.mt20sp
                                strong Features_03
        .l-block.l-block-2.pb90.pb70sp
            .l-container
                .l-block__title
                    h3.c-title.title-center.text52.text42tb.text32sp.text22xs.mb80.mb60tb.mb40sp
                        strong
                            | 理念
                        span.c-subtitle.text13.text11sp.mt5 Philosophy
                .l-block__main
                    h4.c-title.title-center.text42.text32tb.text22sp.mb50.mb30tb.mxauto
                        strong.bold.font-gothic
                            | 私たちは
                            span.u-highlight.highlight-10.spill-2.position80 最新の知見と技術
                            | を備えた専門医チームです
                        span.c-subtitle.text18.text15tb.text13sp.clblack.font-gothic.mt10 （Vビームは自費治療となります。）
                    h4.c-title.title-center.text42.text32tb.text22sp.mb50.mb30tb.mxauto
                        strong.bold.font-gothic
                            | 私たちの使命は
                            span.u-highlight.highlight-10.spill-2.position80 治すだけではありません
                        span.c-subtitle.text18.text15tb.text13sp.clblack.font-gothic.mt10 自信に満ちたあなたへと変身するお手伝いをすることです。
                    h4.c-title.title-center.text42.text32tb.text22sp.mb50.mb30tb.mxauto
                        strong.bold.font-gothic
                            | 私たちは
                            span.u-highlight.highlight-10.spill-2.position80 ホスピタリティーを大切に
                            | 皆様と向き合います
                        span.c-subtitle.text18.text15tb.text13sp.clblack.font-gothic.mt10 すべての方が気持ちよく通院できる環境づくりに努めます。
        #F.l-block.l-block-3.pb95.pb75sp
            .l-container
                .l-block__title
                    h3.c-title.title-center.text52.text42tb.text32sp.text22xs.mb80.mb60tb.mb40sp
                        strong
                            | 院
                            b 長
                            | 紹介
                        span.c-subtitle.text13.text11sp.mt5 Doctor profile
                .l-block__main 
                    .c-cols.c-col-55.space60.mb80.mb50sp
                        .thumb
                            figure
                                img.lazy(data-src="./assets/img/top/img-18.jpg")
                        .contents.pt30.pt0sp
                            .c-description.mb45.mb35tb.mb25sp
                                p.text18.text15tb.text13sp
                                    | 奈良県立医科大学を卒業後、神戸大学関連病院にて一般皮膚科診療を中心に診察して参りました。
                                    br
                                    | 専門医取得後、にきび・シミ・たるみ・しわ治療など美容医療のニーズを感じ美容皮膚科クリニックにも勤務し、大阪市北区の美容皮膚科・皮膚科クリニックの院長として多数の患者さんを担当してまいりました。
                                    br
                                    | しかし、神戸・大阪・京都にしかない最新機器や良い治療を地元・奈良にも取り入れたいという想いがあり、この度大和西大寺にて「西大寺駅前A皮膚科」を開院致しました。自身も学生時代ににきび・アトピー性皮膚炎を患い、悩んだ経緯があり、見た目を担う皮膚疾患の治療がいかに社会生活を送るうえで重要かを感じています。
                                    br
                                    | 元患者ならではの目線で、来院してくださる皆様のために安心して気持ちよく通院できる医院を目指します。
                                    br
                                    | お気軽にご来院、お問い合わせください。
                            p.text28.text18tb.text15sp.font-aotf-r.mlauto.mb0
                                small.text20.text16tb.text14sp.mr25.mr20tb.mr15sp 西大寺駅前A皮膚科 院長
                                span 鶴田 葵
                    .l-contents
                        .c-collapsible.unhide.mb70.mb50sp
                            dt.header
                                h3.c-title.bgpink.text32.text22tb.clwhite.wfull.height50.px30.px20tb.px10sp
                                    i.c-icon.ic-arrow-circle-2
                                    strong.bold.font-gothic これまでの経歴
                            dd.content.px20.px15tb.px10sp
                                .c-description
                                    p.text18.text15tb.text13sp
                                        | 奈良県生駒市出身。
                                        br
                                        | 奈良県立奈良高等学校卒業。
                                        br
                                        | 奈良県立医科大学医学部医学科卒業。
                                        br
                                        | 市立堺病院（現：堺市立総合医療センター）にて初期研修。
                                        br
                                        | 静岡県立こども病院を経て神戸大学医学部附属病院
                                        br
                                        | （非常勤として野村海浜病院、三菱神戸病院、神戸医療センター、いたやどクリニック、神戸共同病院、六甲アイランド病院）
                                        br
                                        | 宝塚市立病院、甲南病院にて勤務。
                                        br
                                        | ササセ皮膚科、きじま皮フ科クリニックを経て大阪市北区の美容皮膚科・皮膚科にて院長を務める。
                                        br
                                        | 2020年5月 西大寺駅前A皮膚科開院。
                        .c-collapsible.unhide.mb70.mb50sp
                            dt.header
                                h3.c-title.bgpink.text32.text22tb.clwhite.wfull.height50.px30.px20tb.px10sp
                                    i.c-icon.ic-arrow-circle-2
                                    strong.bold.font-gothic これまでの経歴
                            dd.content.px20.px15tb.px10sp
                                .c-description
                                    p.text18.text15tb.text13sp
                                        | 日本皮膚科学会
                                        br
                                        | 美容皮膚科学会
                        .c-collapsible.unhide
                            dt.header
                                h3.c-title.bgpink.text32.text22tb.clwhite.wfull.height50.px30.px20tb.px10sp
                                    i.c-icon.ic-arrow-circle-2
                                    strong.bold.font-gothic 資格・役職
                            dd.content.px20.px15tb.px10sp
                                .c-description
                                    p.text18.text15tb.text13sp
                                        | 日本皮膚科学会認定専門医
                                        br
                                        | 日本美容皮膚科学会正会員
                                        br
                                        | アラガン ジュビダームビスタ ヒアルロン酸注入MDcodes　Certification認定医
                                        br
                                        | アラガン ボトックスビスタ注入認定医
                                        br
                                        | 日本医師会認定　指定産業医
        .l-block.l-block-4.pb100.pb70sp
            .l-container
                .l-block__title
                    h3.c-title.title-center.text52.text42tb.text32sp.text22xs.mb80.mb60tb.mb40sp
                        strong
                            | 当
                            b 院
                            | 紹介
                        span.c-subtitle.text13.text11sp.mt5 Introduction
                .l-block__main
                    .c-images.col-3
                        .item
                            img.img.radius10.lazy(data-src="./assets/img/top/img-19.jpg")
                        .item
                            img.img.radius10.lazy(data-src="./assets/img/top/img-20.jpg")
                        .item
                            img.img.radius10.lazy(data-src="./assets/img/top/img-21.jpg")
                    p.text18.text15sp.mt30.mt20sp.mb45.mb25sp.px20.px10sp
                        | 当院は奈良市の大和西大寺駅北口徒歩1分のサンワシティ三階にある皮膚科、美容皮膚科、アレルギー科です。
                        br
                        | 女性の皮膚科専門医によるオーダーメイド治療ができます。私たちは肌・髪・爪の悩みに幅広くお応えします。
                    .c-cols.c-col-55.space60.justify-content-between.align-items-start.mb65.mb45sp.px20.px0tb
                        .contents.px0tb.pt10.pt0tb.mb40tb
                            dl.c-dl.dl-pink.space10
                                dt.clpink 院名
                                dd 西大寺駅前A皮膚科
                                dt.clpink 住所
                                dd 
                                    | 〒631-0821　
                                    br
                                    | 奈良県奈良市西大寺東町2丁目1-63　
                                    br
                                    | サンワシティ西大寺3階医療モール
                                dt.clpink TEL
                                dd 0742-35-5678
                                dt.clpink 休診日
                                dd 水曜、木曜午後、土曜午後、日曜
                        .contents.px0tb
                            iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13121.69977042525!2d135.7835749!3d34.6944604!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60013b4fd4570d35%3A0xcd9b1f328a8f6d60!2z6KW_5aSn5a-66aeF5YmN77yh55qu6Iaa56eRIOWliOiJr-W4giDnvo7lrrnnmq7ohprnp5E!5e0!3m2!1sja!2sjp!4v1677307564986!5m2!1sja!2sjp' width='100%' height='350' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
                            p.text16.text14sp.mt15.mt10sp.px20.px10sp 近鉄大和西大寺駅北口徒歩1分すぐの好アクセス
                    .c-collapsible.unhide.mb45.mb25sp
                        dt.header
                            h3.c-title.bgpink.text32.text22tb.clwhite.wfull.height50.px30.px20tb.px10sp
                                i.c-icon.ic-arrow-circle-2
                                strong.bold.font-gothic 診療時間
                        dd.content.px20.px15tb.px10sp
                            .c-description
                                p.text18.text15tb.text13sp
                                    | 当院は予約制です。
                                    br
                                    | 受付時間は、下記をご確認下さい。
                                    br
                                    | ※14：00～17：00は完全予約制・美容自費診療のみとなっております。（施術は9：30～17：00）
                    .l-wrapper.mb70.mb50sp
                        table.c-table.boder-bottom.boder-md.td-center.thead-box.th-max-width.td-max-width.td-clblack.height0
                            thead
                                tr 
                                    th 月・火・木・金
                                    th 月・火・金
                                    th 土
                            tbody 
                                tr 
                                    td
                                        span.text18.text15tb.text13sp.bold 9：30～11：30
                                    td
                                        span.text18.text15tb.text13sp.bold 13：00～16：30
                                    td
                                        span.text18.text15tb.text13sp.bold 9：30～12：00
                    .c-cnt
                        .item.left 
                            .contents
                                img.img.img-contain.lazy.mt20.mb10(data-src="./assets/img/top/computer.svg")
                                h3.c-title.title-center.title-border.title-border-short.border-lg.bottom.wfull.text36.text24tb.text20sp.afwhite.pb20.pb15sp
                                    strong
                                        | ネット
                                        small から
                                        | ご予約
                                .c-gr-button.gr-button-full.mxauto.justify-content-center.mt30.mt20sp
                                    a.l-button(href="https://reserve.acusis.jp/reserve/user/login/form")
                                        .c-button.button-pink.button-outline.min-width-450.max-width-450.icon-right.custom-button2
                                            strong ネット予約ページへ
                                            i.c-icon.ic-arrow-circle-pink-2
                        .item.right
                            .contents
                                img.img.img-contain.lazy.mt20.mb10(data-src="./assets/img/top/mobile.svg")
                                h3.c-title.title-center.title-border.title-border-short.border-lg.bottom.wfull.text36.text24tb.text20sp.afwhite.pb20.pb15sp.mb25.mb15sp
                                    strong
                                        | 電話
                                        small から
                                        | ご予約
                                span.c-title.title-center.title-border.title-border-left-right.rotate.border-lg.text18.text16sp.mxauto
                                    strong
                                        | 受付時間 : 9:30-16:30
                                span.c-title.text42.text32tb.text22sp.mb5
                                    strong.bold
                                        small.text28.text24tb.text20sp.mr5 Tel:
                                        | 0742-35-5678
                                span.c-subtitle.text18.text15tb.text13sp.bold.clwhite.mb60 休診　水曜、木曜午後、土曜午後、日曜