section.l-blocks.l-top-2
    .l-container-full
        .c-banner.custom-banner.lr-20
            .contents.wfull.contents-center-bottom.pb60
                .c-cates.mb5
                    span.cate.text28.text18tb.text15sp VビームⅡレーザー
                h3.c-title.text62.text42tb.text32sp.text22xs
                    strong
                        | 3つの特徴
            .banner.before-bg
                img.lazy(data-src="./assets/img/top/banner-1.jpg")
        #B.l-contents.pb105.pb85tb.pb65sp.position-relative
            .l-container
                .c-notes 
                    .item
                        span.c-title.text28.text24tb.text20sp.clgray.align-items-end.mb20.mb10sp
                            small 特徴
                            strong.ml5 01
                        h3.c-title.text32.text22tb.text20sp.mb50.mb30tb
                            strong 
                                | 赤色に吸収されるレーザー光で、
                                span.u-highlight.highlight-10.spill-2.position80 赤みのある治療に効果
                                | が見込めます
                        .c-description 
                            p.text18.text15tb.text13sp
                                | 赤色の色素に反応するのが特長的なレーザーです。そのため血液中のヘモグロビン（赤血球）に反応します。赤アザや赤ら顔の原因は、血液
                                br.pc992
                                | に含まれるヘモグロビンの色素であり、皮膚の浅い層に血管があったり部分的に血管の量が多かったりするとその部位で血流が増加し、皮膚
                                br.pc992
                                | に赤みが生じたような状態になります。VbeamIIのレーザー光は、血管中のヘモグロビンに吸収されることで余剰な血管や色素を除去し、赤
                                br.pc992
                                | アザ・赤ら顔・赤く炎症したニキビ・ニキビ跡など、あらゆる赤みを伴う皮膚の病変に対して、効果が期待できます。
                    .gr-notes
                        .item
                            span.c-title.text28.text24tb.text20sp.clgray.align-items-end.mb5
                                small 特徴
                                strong.ml5 02
                            h3.c-title.text32.text22tb.text20sp.mb40.mb20tb
                                strong 
                                    span.u-highlight.highlight-10.spill-2.position80 パルス幅の変更
                                    | で
                                    br
                                    | お肌のトラブルに対応致します
                            .c-description 
                                p.text18.text15tb.text13sp
                                    | VbeamIIはパルス幅を変えられるため、肌の弾力やハリ・ツヤ
                                    br.pc992
                                    | に大きく関わる皮膚深部の線維芽細胞を活性化させ、コラーゲ
                                    br.pc992
                                    | ンの生成を促進して光老化した肌に働きかけます。赤アザや赤ら
                                    br.pc992
                                    | 顔の治療とあわせて、小じわの改善やお肌のハリ・ツヤのアッ
                                    br.pc992
                                    | プなどの美肌効果も期待することが可能です。
                        .item
                            span.c-title.text28.text24tb.text20sp.clgray.align-items-end.mb5
                                small 特徴
                                strong.ml5 03
                            h3.c-title.text32.text22tb.text20sp.mb40.mb20tb
                                strong 
                                    span.u-highlight.highlight-10.spill-2.position80 痛みや肌への負担を抑えた
                                    br
                                    | 施術を行います
                            .c-description 
                                p.text18.text15tb.text13sp
                                    | VbeamIIの照射時には、特殊な冷却ガスを同時に噴射します。
                                    br.pc992
                                    | この冷却ガスがお肌を保護するため、個人差はありますが、
                                    br.pc992
                                    | 照射の際には痛みをほぼ感じることがなく、また施術後の赤み
                                    br.pc992
                                    | や腫れなどのダウンタイムも最小限に抑えることができます。
                    p.text18.text15tb.text13sp.mb0
                        | 当院では、VbeamⅡ（キャンデラ社製）という器機を使用しております。
                        br
                        | ※VbeamⅡは、医師のいる医療機関でのみ使用可能な医療機器です。
                        br
                        | ※ロングパルスダイレーザーによる皮膚良性血管病変の治療は、症状により治療方法、治療期間が異なることをご理解ください。
            .bg