section#A.l-blocks.l-top-1
    .l-container-full
        .l-block.l-block-1.pt80.pt60tb.pt40sp.pb110.pb80tb.pb50sp
            .l-block__title
                h2.c-title.title-center.text52.text42tb.text32sp.mb50.mb30tb
                    strong.u-highlight.highlight-10.spill-md.position80
                        | VビームⅡレーザーとは
            .l-block__main
                .l-contents.flex-column.align-items-center
                    .l-container.position-relative
                        .l-container-500
                            h3.c-title.title-center.text34.text24tb.text18sp.mb15.mb10sp
                                strong
                                    b 赤色の色素
                                    small に反応して
                            h3.c-title.title-center.text34.text24tb.text18sp.mb30.mb20sp
                                strong
                                    b 余剰な血管や色素
                                    | を除去
                            .c-description.tcm
                                p.text18.text15sp
                                    | 赤色の色素に反応するのが特長的なレーザーで、VbeamIIのレーザー光は、血管中のヘモグロビンに吸収されることで余剰な血管や色素を除去し、
                                    br
                                    | 赤アザ・赤ら顔・赤く炎症したニキビ・ニキビ跡など、
                                    br
                                    | あらゆる赤みを伴う皮膚の病変に対して、
                                    br
                                    | 効果が期待できます。
                        .l-txt.mt90.mt60tb.mt30sp.mb50.mb30tb.mb20sp
                            .l-container-590.tcm.px10.px0tb
                                p.text32.text22tb.text18sp.light.font-aotf-m.mb20.mb10sp VビームⅡレーザーの使用で…
                                img.lazy(data-src="./assets/img/top/arrow-down.svg", alt="")
                        img.img-bg.left.lazy.pc992(data-src="assets/img/top/bg-img-1.png")
                        img.img-bg.right.lazy.pc992(data-src="assets/img/top/bg-img-2.png")
                .l-contents 
                    .l-container
                        h3.c-title.justify-content-center.flex-row.text42.text32tb.text22sp.mb15.mb10sp
                            strong.clwhite.bgpink.px20.px10sp.py10.py5sp 赤アザ・赤ら顔
                            strong.px20.px10sp.py10.py5sp
                                small.text36.text26tb.text16sp の
                                | 治療や、
                        h3.c-title.justify-content-center.flex-row.text42.text32tb.text22sp.mb70.mb50sp
                            strong.px20.px10sp.py10.py5sp
                                u 小じわ改善、肌のツヤ・ハリに
                            strong.clwhite.bgpink.px20.px10sp.py10.py5sp
                                | 効果を発揮!!
                        .l-titles.justify-content-center.mb15
                            i.c-icon.icon-18.ic-plus-square
                            span.text24.text20tb.text16sp.ml10 赤ら顔の施術
                        .l-container-848.px10.px0tb.mb70.mb50sp
                            .c-images.col-2.space20
                                .item.pb20
                                    img.img.radius10.lazy(data-src="./assets/img/top/img-1.jpg")
                                    .c-cates
                                        .cate.cate-before.text22.text18tb.text14sp before
                                .item.pb20
                                    img.img.radius10.lazy(data-src="./assets/img/top/img-2.jpg")
                                    .c-cates
                                        .cate.cate-after.text22.text18tb.text14sp after
                        .c-gr-button.mxauto.justify-content-center
                            a.c-button.button-pink.button-outline.icon-right.custom-button(href="#")
                                strong VビームⅡレーザーの特徴
                                i.c-icon.ic-arrow-circle-pink-2
                            a.c-button.button-pink.button-outline.icon-right.custom-button(href="#")
                                strong 期待できる効果
                                i.c-icon.ic-arrow-circle-pink-2
                            a.c-button.button-pink.button-outline.icon-right.custom-button(href="#")
                                strong 治療方法を確認
                                i.c-icon.ic-arrow-circle-pink-2
        .l-block.l-block-2.position-relative.ovh.pb70.pb50sp
            .l-container-1000
                .l-block__title
                    h3.c-title.title-center.text52.text42tb.text32sp.text22xs.mb50.mb30sp
                        strong
                            | こんな
                            b お悩み
                            | はございませんか?
                .l-block__main   
                    ul.c-list.px20tb
                        li
                            h3.c-title.text38.text28tb.text18sp
                                strong.bold.font-gothic
                                    span.u-highlight.highlight-10.spill-2.position80 赤アザ
                                    | などの
                                    span.u-highlight.highlight-10.spill-2.position80 赤い色素沈着
                                    | が気になる。
                        li
                            h3.c-title.text38.text28tb.text18sp
                                strong.bold.font-gothic
                                    span.u-highlight.highlight-10.spill-2.position80 赤ら顔
                                    | を治したい。
                        li
                            h3.c-title.text38.text28tb.text18sp
                                strong.bold.font-gothic
                                    span.u-highlight.highlight-10.spill-2.position80 にきび跡の肌の赤み
                                    | が気になる。
                        li
                            h3.c-title.text38.text28tb.text18sp
                                strong.bold.font-gothic
                                    span.u-highlight.highlight-10.spill-2.position80 お肌のハリやツヤ
                                    | をアップさせたい。
                        li
                            h3.c-title.text38.text28tb.text18sp
                                strong.bold.font-gothic
                                    span.u-highlight.highlight-10.spill-2.position80 小じわ
                                    | を改善させたい。   
            img.bg.img.img-cover.lazy.mt45.mt35tb.mt25sp(data-src="assets/img/top/bg-1.jpg")
        //- .l-block.l-block-1.pt110.pb75.pt70tb.pb55tb.pt50sp.pb35sp
        //-     .l-container-1360
        //-         .c-cols.c-col-2.justify-content-between.space50.switch
        //-             .thumb.slider-img.p-fadein.p-delay_1s(data-index="0")
        //-                 .swiper
        //-                     .swiper-container
        //-                         .swiper-wrapper
        //-                             .swiper-slide
        //-                                 img.img.img-cover(src="./assets/img/top/img-16.jpg")
        //-                             .swiper-slide
        //-                                 img.img.img-cover(src="./assets/img/top/img-17.jpg")
        //-                             .swiper-slide
        //-                                 img.img.img-cover(src="./assets/img/top/img-18.jpg")
        //-                     .swiper-pagination
        //-             .contents.align-content-center.p-fadein.p-delay_1s
        //-                 .content
        //-                     h3.c-title.text68.text48tb.text28sp.mb40.mb30tb.mb20sp
        //-                         strong.lineheight14
        //-                             | 1
        //-                             b 9
        //-                             | 68年の創業
        //-                             small より
        //-                             br
        //-                             | 変わらぬ挑戦姿勢
        //-                     h4.c-title.text42.text32tb.text22sp.mb20.mb10tb.p-fadeinleft.p-delay_3s
        //-                         strong.lineheight18
        //-                             mark.bgblue.clwhite フッ素ゴム
        //-                             mark.bgblue.clwhite シリコーンゴム
        //-                             br
        //-                             mark.bgblue.clwhite シリコーンスポンジ加工
        //-                     h4.c-title.text42.text32tb.text22sp.mb25.mb15tb
        //-                         strong
        //-                             | の
        //-                             span.spill 『松山』
        //-                             | と呼ばれて
        //-                     .c-description
        //-                         p.text16.text14sp
        //-                             | 株式会社松山は創業以来一貫して、フッ素ゴム・シリコーンゴム・シリコーンスポンジなどの加工技術の開発に取り組んでまいりました。
        //-                             br
        //-                             | 現在では、ゴム・スポンジ・ポリウレタン・その他あらゆる発泡体に至るまで幅広く対応しております。
        //-     img.bg.img.img-cover.lazy(data-src="assets/img/top/bg-1.jpg")
        //- .l-block.l-block-2
        //-     .slider-text
        //-         marquee.c-marquee(direction="left" behavior="scroll" scrollamount="10")
        //-             p
        //-                 strong
        //-                     | FLEXIBLE FIELDING SKILLS AND PROCESSING  F
        //-                     b L
        //-                     | EXIBLE FIELDING SKILLS AND PROCESSING
        //-         marquee.c-marquee(direction="right" behavior="scroll" scrollamount="5")
        //-             p Fluoro-rubber / Silicone rubber / Silicone rubber / Silicone sponge / Fluoro-rubber / Silicone rubber / Silicone rubber / Silicone spongeFluoro-rubber / Silicone rubber / Silicone rubber / Silicone sponge / Fluoro-rubber / Silicone rubber / Silicone rubber / Silicone sponge
        //- .l-block.l-block-3.pt95.pb50.pt45tb.pb30tb
        //-     .l-container.p-fadeinup.p-delay_1s
        //-         .l-block__title
        //-             h2.c-title.subtitle.text92.text52tb.text32sp.text22xs
        //-                 strong
        //-                     | A
        //-                     b b
        //-                     | out us
        //-             span.c-subtitle.line.line-md.line-bottom
        //-                 strong.text18.text14sp MATUYAMAとは
        //-         .l-block__main
        //-             .c-cols.c-col-64.mt30.mt20sp
        //-                 .thumb.slider-img(data-index="1")
        //-                     .swiper
        //-                         .swiper-container
        //-                             .swiper-wrapper
        //-                                 .swiper-slide
        //-                                     img.img.img-cover(src="./assets/img/top/img-19.jpg")
        //-                                 .swiper-slide
        //-                                     img.img.img-cover(src="./assets/img/top/img-20.jpg")
        //-                         .swiper-pagination
        //-                 .contents.max-width-850.c-box.align-content-center.pt50.px30.pb40.pt50tb.px30tb.pb40tb.pt30sp.px20sp.pb20sp
        //-                     h3.c-title.text42.text22sp.mb25.mb15sp
        //-                         strong.lineheight14
        //-                             b 刻
        //-                             small 々と変化する時代のニーズに
        //-                             br
        //-                             small
        //-                                 b 柔軟な姿勢
        //-                                 | で的確に制す
        //-                     .c-description
        //-                             p.text16.text14sp
        //-                                 | 一投一投が真剣勝負の野球。
        //-                                 br
        //-                                 | 中でもキャッチャーは勝敗を左右する重要な役割と言えるでしょう。神経を研ぎ澄まし、試合の流れをあらゆる角度から的確に読み冷静に判断。そして柔軟に行動する。
        //-                                 br
        //-                                 | 株式会社松山は、いわばこのキャッチャーなのかもしれません。時代を的確に捉え、いかなるオーダーにも柔軟に対応し、クオリティの高い商品を提供する。どうぞ私たちに安心してご一投を・・・。
        //-                                 br
        //-                                 | この柔軟な守備力こそが、時代の最大の武器だと信じています。
        //-     img.bg.img.img-cover.lazy(data-src="assets/img/top/bg-2.jpg")
        //- .l-block.l-block-4.pb40tb
        //-     .l-container.p-fadeinup.p-delay_1s
        //-         .l-block__title.align-content-end.pr0tb
        //-             h2.c-title.subtitle.text92.text52tb.text32sp.text22xs
        //-                 strong
        //-                     | P
        //-                     b o
        //-                     | licy
        //-             span.c-subtitle.line.line-md.line-bottom
        //-                 strong.text18.text14sp 大切にしていること
        //-         .l-block__main
        //-             .c-cols.c-col-2.justify-content-between.align-items-start.space40.bgwhite.mt30tb.mt20sp
        //-                 .thumb.mb0sp
        //-                     img.lazy(data-src="./assets/img/top/img-21.jpg")
        //-                 .contents.pt90.pb70.pt50tb.px30tb.pb40tb.pt30sp.px20sp.pb20sp
        //-                     h3.c-title.text42.text22sp.mb20.mb10sp
        //-                         strong.lineheight14
        //-                             b 創
        //-                             small 業以来、変わらぬ挑戦姿勢
        //-                             br
        //-                             small
        //-                                 | ニーズに応え、
        //-                                 b 高品質な製品をご提供
        //-                     .c-description
        //-                         p.text16.text14sp
        //-                             | 弊社は創業以来一貫して、フッ素ゴム・シリコーンゴム・シリコーンスポンジなどの
        //-                             | 加工技術の開発に取り組んでまいりました。
        //-                             br
        //-                             | 現在では、ゴム・スポンジ・ポリウレタン・その他あらゆる発泡体に至るまで幅広く
        //-                             | 対応しております。
        //-                             br
        //-                             | ISO9001の取得を機に、さらに品質管理、技術革新に積極的に取り組んでいます。
        //-                             br
        //-                             | これからも過去の実績と信頼、現在の技術力、そして未来を見据えた確かな視点。
        //-                             br
        //-                             | これらを基本に、お客様のニーズに的確に応え、高品質な製品をこれからも提供して
        //-                             | いきたいと考えています。
        //- .l-block.l-block-5.pb80.pb60sp
        //-     .l-container-1300.p-fadeinup.p-delay_1s.px0
        //-         .c-products.col-3.c-counters.counter-zero
        //-             .item
        //-                 figure.c-figure.height286
        //-                     img.lazy(data-src="./assets/img/top/img-22.jpg")
        //-                 .c-stickers
        //-                     .sticker-number
        //-                         span.counter.counter-right.text16.bold
        //-                 .c-info.px5
        //-                     h3.c-title.justify-content-center.text18.text14sp.tcm.mb0
        //-                         strong
        //-                             | 高品質の加工技術と
        //-                             br
        //-                             | 短納期の提供で業界をリード
        //-             .item
        //-                 figure.c-figure.height286
        //-                     img.lazy(data-src="./assets/img/top/img-23.jpg")
        //-                 .c-stickers
        //-                     .sticker-number
        //-                         span.counter.counter-right.text16.bold
        //-                 .c-info.px5
        //-                     h3.c-title.justify-content-center.text18.text14sp.tcm.mb0
        //-                         strong
        //-                             | シリコーンスポンジの在庫数は
        //-                             br
        //-                             | 業界随一の取り扱い数
        //-             .item
        //-                 figure.c-figure.height286
        //-                     img.lazy.bd.clgray(data-src="./assets/img/top/img-24-2.jpg")
        //-                 .c-stickers
        //-                     .sticker-number
        //-                         span.counter.counter-right.text16.bold
        //-                 .c-info.px5
        //-                     h3.c-title.justify-content-center.text18.text14sp.tcm.mb0
        //-                         strong
        //-                             | ISO9001:2015をベースに
        //-                             br
        //-                             | 検査体制・記録の管理・素材管理を徹底
        //- .l-block.l-block-6.pb110.pb70sp
        //-     .l-block__title
        //-         h3.c-title.title-center.title-border.title-border-short.bottom.text48.text28sp.text24xs.wfull.mb40.mb20sp.pb30.pb20sp
        //-             strong
        //-                 | R
        //-                 b a
        //-                 | te
        //-             span.c-subtitle.text11.mt15.mt10sp 評価されていること
        //-     .l-block__main.p-fadein.p-delay_1s
        //-         .l-container-full
        //-             .c-products.sliders.special
        //-                 .swiper.px0
        //-                     .swiper-container
        //-                         .swiper-wrapper
        //-                             .item.swiper-slide
        //-                                 figure.c-figure.height576
        //-                                     img.swiper-lazy(data-src="./assets/img/top/img-25.jpg")
        //-                                     .c-stickers
        //-                                         .sticker-number
        //-                                             span.count 1
        //-                                             span.total 3
        //-                                 .c-info.px50.px20tb.px10sp
        //-                                     h3.c-title.title-border.title-border-left.border-lg.hf.text24.text18sp.mb0
        //-                                         strong
        //-                                             | 商
        //-                                             b 品
        //-                                             | 梱包
        //-                                         span.text16 商品梱包は丁寧にキレイに仕上げますので、お客様による再梱包、検査は不要です。
        //-                             .item.swiper-slide
        //-                                 figure.c-figure.height576
        //-                                     img.swiper-lazy(data-src="./assets/img/top/img-26.jpg")
        //-                                     .c-stickers
        //-                                         .sticker-number
        //-                                             span.count 2
        //-                                             span.total 3
        //-                                 .c-info.px50.px20tb.px10sp
        //-                                     h3.c-title.title-border.title-border-left.border-lg.hf.text24.text18sp.mb0
        //-                                         strong
        //-                                             | 対
        //-                                             b 応
        //-                                             | 力
        //-                                         span.text16 お問合せ対応は迅速にレスポンス致します。（お見積、納期確認など）
        //-                             .item.swiper-slide
        //-                                 figure.c-figure.height576
        //-                                     img.swiper-lazy(data-src="./assets/img/top/img-27.jpg")
        //-                                     .c-stickers
        //-                                         .sticker-number
        //-                                             span.count 3
        //-                                             span.total 3
        //-                                 .c-info.px50.px20tb.px10sp
        //-                                     h3.c-title.title-border.title-border-left.border-lg.hf.text24.text18sp.mb0
        //-                                         strong
        //-                                             | 在
        //-                                             b 庫
        //-                                             | 管理
        //-                                         span.text16
        //-                                             | 各種素材を常備厚み単位で在庫していますので短納期での提供が可能です。
        //-                                             br
        //-                                             | 在庫管理を日々数値化していますのでオーダー時には早急に返答します。
        //-             //- .c-gr-button.mxauto.justify-content-center.mt75.mt55sp
        //-             //-     a.c-button.button-outline.max-width.icon-right.custom-button(href="contact.html")
        //-             //-         strong お問合せへ
        //-             //-         i.c-icon.ic-arrow-right-black-3
        //-     img.bg.img.img-cover.lazy(data-src="assets/img/top/bg-3.jpg")
        