section.l-blocks.l-news
    .c-bl-news.p-fadeinup.p-delay_1s
        .c-bl-news__title 
            .l-container
                .c-bl-news__left
                    h2.c-title.c-title--font-64
                        strong
                            | N
                            b e
                            | ws
                        span お知らせ
                .c-bl-news__right 
                    ul.c-tabs-list
                        li.is-active
                            a(href="#") 全て 
                        li 
                            a(href="#") お知らせ
                        li 
                            a(href="#") 製品情報
        .c-bl-news__content
            .l-container-1500
                .c-news2.sliders
                    .swiper
                        .swiper-container
                            .swiper-wrapper
                                a.item.swiper-slide(href="news_on.html") 
                                    figure
                                        img.swiper-lazy(data-src="assets/img/top/img-1.jpg")
                                        .sticky new
                                    .info.text-center
                                        .date 2022.01.01
                                        h3.title
                                            | ホームページを
                                            br
                                            | リニューアルしました。
                                a.item.swiper-slide(href="news_on.html") 
                                    figure
                                        img.swiper-lazy(data-src="assets/img/top/img-2.jpg")
                                    .info.text-center
                                        .date 2022.01.01
                                        h3.title
                                            | ホームページを
                                            br
                                            | リニューアルしました。
                                a.item.swiper-slide(href="news_on.html") 
                                    figure
                                        img.swiper-lazy(data-src="assets/img/top/img-3.jpg")
                                    .info.text-center
                                        .date 2022.01.01
                                        h3.title
                                            | ホームページを
                                            br
                                            | リニューアルしました。
                                a.item.swiper-slide(href="news_on.html") 
                                    figure
                                        img.swiper-lazy(data-src="assets/img/top/img-4.jpg")
                                    .info.text-center
                                        .date 2022.01.01
                                        h3.title
                                            | ホームページを
                                            br
                                            | リニューアルしました。
                                a.item.swiper-slide(href="news_on.html") 
                                    figure
                                        img.swiper-lazy(data-src="assets/img/top/img-1.jpg")
                                    .info.text-center
                                        .date 2022.01.01
                                        h3.title
                                            | ホームページを
                                            br
                                            | リニューアルしました。            
                            .swiper-button-next
                                img(src="assets/img/common/ic-btn-next.svg", alt="")
                            .swiper-button-prev
                                img(src="assets/img/common/ic-btn-prev.svg", alt="")
                .l-container
                    a.c-showmore2.c-showmore2--blue(href="news.html")
                        strong お知らせ一覧を見る
                        i.c-icon.ic-arrow-right7
    //- .bg.lazy(data-bg="assets/img/top/bg-1.jpg")