section.l-blocks.c-info-footers.pt80.pt60sp
    .l-container-full
        .l-container.mb100.mb70tb.mb50sp
            h2.c-title.subtitle.text92.text52tb.text32sp.text22xs
                strong
                    | C
                    b o
                    | ntact
            span.c-subtitle.line.line-md.line-bottom
                strong.text18.text14sp お問合せ
        .c-banner.h460.p-fadein.p-delay_1s
            .banner
                img.lazy(data-src="./assets/img/top/banner-3.jpg")
    .l-block.pt105.pb110.pt70tb.pb70tb.pt50sp.pb50sp
        .l-container-1200
            h2.c-title.title-center.flex-column.text48.text38tb.text28sp.text24xs.mb65.mb35sp
                strong
                    | 迅
                    b 速
                    | かつ丁寧にお応えさせて頂きます。
                span.c-subtitle.text18.text15tb.text13sp.text11xs.clblack.mt20 お客様のニーズに的確に応え、高品質な製品をこれからも提供していきたいと考えています。
            .c-contacts
                .left.bdright.px20tb
                    span.item.c-title.text38.text28tb.text20sp
                        small.text15tb.bold.mr15 Tel:
                        a(href="#")
                            strong 06-6744-7555
                    span.item.c-title.text38.text28tb.text20sp
                        small.text15tb.bold.mr15 Fax:
                        a(href="#")
                            strong 06-6744-7311
                .right.pb10.px20tb
                    .item.mt20.mt10sp.mb30.mb20sp
                        a(href="javascript:void(0)")
                            i.c-icon.ic-email-outline-black.mr10
                            strong.text28.text18tb.text15sp メールでお問合せ
                    a.c-button.button-outline.max-width-330.min-width-330.icon-right.custom-button.mx10(href="contact.html")
                        strong お問合せフォーム
                        i.c-icon.ic-arrow-right-black-3
        img.bg.img.img-cover.lazy(data-src="assets/img/top/bg-4.jpg")