section.l-blocks.c-info-footers2
    .l-container-full
        .c-info-footer.col-2
            a.item.w-100(href="index.html#A") 
                .content
                    .btn
                        div
                            strong Greeting
                            span 代表挨拶
                            //- i.c-icon.ic-arrow-down
                        p 詳細
                img.lazy(data-src="assets/img/top/banner-img-5.jpg")
            a.item(href="index.html#B") 
                .content
                    .btn
                        div
                            strong Product
                            span 製品紹介
                            //- i.c-icon.ic-arrow-down
                        p 詳細
                img.lazy(data-src="assets/img/top/banner-img-6.jpg")
            a.item(href="index.html#C") 
                .content
                    .btn
                        div
                            strong Technical work
                            span 取扱技工物
                            //- i.c-icon.ic-arrow-down
                        p 詳細
                img.lazy(data-src="assets/img/top/banner-img-7.jpg")