section.c-mainvisual
    //- .c-mainvisual__cnt
    //-     h2.c-title.text80.text54tb.text38sp.clwhite.mb10
    //-         strong
    //-             | 柔軟な守備力
    //-             small と
    //-             br
    //-             | 確かな加工技術
    //-     span.c-subtitle.line.line-md.line-bottom.text20.text18tb.text14sp.text8xs.clwhite.bfwhite.pl40.pl20sp
    //-         | Flexible fielding skills and Processing technology
    .c-mainvisual__bg
        img.lazy(data-src="./assets/img/top/fv-img-1.jpg", alt="")
        //- video.lazy(data-src="./assets/video/pc.mp4" playsinline autoplay muted loop)
    a#Y_sclorebox(href='#footer')
        #Y_sclore
            div
                span
            p Scroll