- const base = "."
- const home = true
- const canonical = "/"
- const page = "top"

doctype html
html(lang="ja")
    include ./partials/_head
    body
        include ./layouts/_header
        main#main.p-top
            include ./components/_mainvisual
            include ./components/_bl-top-1
            include ./components/_bl-top-2
            include ./components/_bl-top-3
            include ./components/_bl-top-4
            include ./components/_bl-top-5
        include ./layouts/_footer