- const base = "."
- const home = true
- const canonical = "/"
- const page = "profile"

doctype html
html(lang="ja")
    include ./partials/_head
    body
        include ./layouts/_header
        include ./components/_bl-banner
        +blockBanner("会社案内", "Profile", "./assets/img/profile/banner.jpg", [ { "link": "#", "title": "株式会社松山" }, { "link": "", "title": "会社案内" } ])
        //- img.lazy(data-src="./assets/img/profile/img.jpg")
        main#main.p-profile
            section.l-blocks.l-profile.pt80.pt50sp.pb110.pb70sp
                .l-container-1200 
                    .l-block.l-block-1.mb100.mb70sp.p-fadeinup.p-delay_1s
                        .l-block__title.mb50.mb40sp
                            h3.c-title.title-center.title-border.title-border-short.bottom.text38.text28sp.text24xs.mxauto.pb35.pb20sp
                                strong
                                    | 品
                                    b.clblue 質
                                    | 管理体制
                                span.c-subtitle.text11.mt15.mt10sp Quality control system
                        .l-block__main
                            img.txt.mxauto.lazy(data-src="./assets/img/profile/txt.svg")
                    .l-block.l-block-2.mb110.mb70sp.p-fadeinup.p-delay_1s
                        .l-block__title.mb50.mb40sp
                            h3.c-title.title-center.title-border.title-border-short.bottom.text38.text28sp.text24xs.mxauto.pb35.pb20sp
                                strong
                                    | I
                                    b.clblue S
                                    | O取得
                                span.c-subtitle.text11.mt15.mt10sp Acquired ISO
                        .l-block__main
                            .l-contents.mb95.mb65sp
                                h3.c-title.title-border.title-border-bottom.bdblack.text28.text24sp.wfull.u-square.square-md.clblue.mb30
                                    strong
                                        | 品質管理マネジメントシステムについて
                                .c-cols.c-col-73.px25.px15tb.px10sp
                                    .thumb
                                        figure
                                            img.lazy(data-src="./assets/img/profile/img-1.jpg")
                                    .contents.align-content-start.pt45.pt30tb.pl30.pl0tb
                                        h3.c-title.text32.text22sp.mb30.mb20sp
                                            .c-icon.ic-gear.mr10
                                            strong ISO9001規格の認証を取得
                                        .c-description.pl30
                                            p.text16.text14sp
                                                | 2008年にはISO9001規格の認証を取得し、2016年にはISO9001 2015への更新を実施致しました。
                                                br
                                                | ISO9001の規格に則した事業活動は、社内の管理レベルを飛躍的に向上させ、お客様の求める高品質製品の提供、万全のアフターフォロー体制を確立すること
                                                | ができました。今後も品質マネジメントシステムを活用し、高品質製品を通じ客様の更なる満足を目指します。
                            .l-contents
                                h3.c-title.title-border.title-border-bottom.bdblack.text28.text24sp.wfull.u-square.square-md.clblue.mb30
                                    strong
                                        | 測定・検査体制の向上に向けて
                                .c-cols.c-col-73.px25.px15tb.px10sp
                                    .thumb
                                        figure
                                            img.lazy(data-src="./assets/img/profile/img-2.jpg")
                                    .contents.align-content-start.pt45.pt30tb.pl30.pl0tb
                                        h3.c-title.text32.text22sp.mb30.mb20sp
                                            .c-icon.ic-eye.mr10
                                            strong 測定顕微鏡の導入
                                        .c-description.pl30
                                            p.text16.text14sp
                                                | 当社は、微細で複雑な寸法測定や検査報告のご要望にお応えするため測定顕微鏡を導入しております。品質保証課が中心となり、顧客サービスのさらなる向上と安定化を実現させ、今後もお客様からの多種多様なご要望にも迅速確実にお応えできる体制作りに努めて参ります。
                    .l-block.l-block-3.mb100.mb70sp.p-fadeinup.p-delay_1s
                        .l-block__title.mb50.mb40sp
                            h3.c-title.title-center.title-border.title-border-short.bottom.text38.text28sp.text24xs.mxauto.pb45.pb25sp
                                strong
                                    | 代
                                    b.clblue 表
                                    | 挨拶
                                span.c-subtitle.text11.mt15.mt10sp Greeting
                        .l-block__main
                            .l-container-900
                                blockquote.c-blockquote.gothic
                                    p.text18.text15sp.mb60.mb40sp
                                        | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
                                    img.txt.wauto.fr.mr30.mr0sp.lazy(data-src="./assets/img/profile/txt-2.svg", height="30")
                    .l-block.l-block-4.mb110.mb70sp.p-fadeinup.p-delay_1s
                        .l-block__title.mb50.mb40sp
                            h3.c-title.title-center.title-border.title-border-short.bottom.text38.text28sp.text24xs.mxauto.pb45.pb25sp
                                strong
                                    | 会
                                    b.clblue 社
                                    | 概要
                                span.c-subtitle.text11.mt15.mt10sp Company’s outline
                        .l-block__main
                            .l-container-1000
                                dl.c-dl.dl-blue.space20.mb30
                                    dt 会社名
                                    dd 株式会社　松山
                                    dt 代表者
                                    dd 代表取締役社長　松山 貴寛
                                    dt 所在地
                                    dd 
                                        span.text18 【本社】
                                        | 〒577-0005
                                        br
                                        | 大阪府東大阪市七軒家18番36号
                                        br
                                        | Tel:06-6744-7555 / Fax:06-6744-7311
                                        br
                                        br
                                        span.text18 【工場】
                                        | 〒577-0005
                                        br
                                        | 大阪府東大阪市七軒家16番20号
                                        br
                                        | Tel:06-6744-3111 
                                    dt 主要仕入先
                                    dd 
                                        | 株式会社入間川ゴム
                                        br
                                        | クレハエラストマー株式会社
                                        br
                                        | 株式会社十川ゴム
                                        br
                                        | サンポリマー株式会社
                                        br
                                        | 平和株式会社
                                    dt 資本金
                                    dd 1,000万円
                                    dt 取引先銀行
                                    dd
                                        | りそな銀行　瓢箪山支店
                                        br
                                        | 三菱UFJ銀行　枚岡支店
                                .c-images.col-4
                                    img.item.lazy(data-src="./assets/img/profile/img-3.jpg")
                                    img.item.lazy(data-src="./assets/img/profile/img-4.jpg")
                                    img.item.lazy(data-src="./assets/img/profile/img-5.jpg")
                                    img.item.lazy(data-src="./assets/img/profile/img-6.jpg")
                    .l-block.l-block-5.mb110.mb70sp.p-fadeinup.p-delay_1s
                        .l-block__title.mb50.mb40sp
                            h3.c-title.title-center.title-border.title-border-short.bottom.text38.text28sp.text24xs.mxauto.pb45.pb25sp
                                strong
                                    | 沿革
                                span.c-subtitle.text11.mt15.mt10sp History
                        .l-block__main
                            .l-container-1000
                                dl.c-dl
                                    dt 1968年
                                    dd 東大阪市末広町にて松山工業所を個人創業　（創業者　松山　茂）
                                    dt 1993年
                                    dd 代表者　松山　康孝　就任
                                    dt 1995年
                                    dd 法人設立と共に株式会社松山に改称
                                    dt 1998年
                                    dd 社屋を東大阪市七軒家18番36号に建設移転
                                    dt 2008年
                                    dd 工場を東大阪市七軒家16番20号に移転
                                    dt 2008年
                                    dd ISO9001：2008 を取得
                                    dt 2017年
                                    dd ISO9001：2015 を取得
                                    dt 2022年
                                    dd 代表取締役社長　松山　貴寛　就任
                    .l-block.l-block-6.mb110.mb70sp.p-fadeinup.p-delay_1s
                        .l-block__title.mb30
                            h3.c-title.title-center.title-border.title-border-short.bottom.text38.text28sp.text24xs.mxauto.pb45.pb25sp
                                strong
                                    | 本
                                    b 社
                                    | 所在地・連絡先
                                span.c-subtitle.text11.mt15.mt10sp Company address
                        .l-block__main
                            .l-container-1050
                                .c-cols.c-col-73
                                    .thumb
                                        iframe.lazy(data-src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4213.831137488751!2d135.5901338409497!3d34.68650330886684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000dfe31b94d7af%3A0x4cc16baaa6dad3a!2z44CSNTc3LTAwMDUg5aSn6Ziq5bqc5p2x5aSn6Ziq5biC5LiD6LuS5a6277yR77yY4oiS77yT77yW!5e0!3m2!1sja!2sjp!4v1675501886871!5m2!1sja!2sjp' allowfullscreen referrerpolicy='no-referrer-when-downgrade' style='border:0;')
                                    .contents.align-content-center.mt10tb
                                        dl.c-dl.dl-blue.space20
                                            dt 住所
                                            dd 
                                                | 〒577-0005
                                                br
                                                | 大阪府東大阪市七軒家18番36号
                                            dt Tel
                                            dd 
                                                | 06-6744-7555
                                            dt Fax
                                            dd 
                                                | 06-6744-7311
                    .l-block.l-block-7.p-fadeinup.p-delay_1s
                        .l-block__title.mb30
                            h3.c-title.title-center.title-border.title-border-short.bottom.text38.text28sp.text24xs.mxauto.pb45.pb25sp
                                strong
                                    | 本
                                    b 社
                                    | 所在地・連絡先
                                span.c-subtitle.text11.mt15.mt10sp Company address
                        .l-block__main
                            .l-container-1050
                                .c-cols.c-col-73.flex-row-reverse
                                    .thumb
                                        iframe.lazy(data-src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d938.51765359645!2d135.59014006650344!3d34.68708213600542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000dffcce91c391%3A0xdd580494a13efff1!2z44CSNTc3LTAwMDUg5aSn6Ziq5bqc5p2x5aSn6Ziq5biC5LiD6LuS5a6277yZ4oiS77yS77yZ!5e0!3m2!1sja!2sjp!4v1675502034792!5m2!1sja!2sjp' allowfullscreen referrerpolicy='no-referrer-when-downgrade' style='border:0;')
                                    .contents.align-content-center.mt10tb
                                        dl.c-dl.dl-blue.space20
                                            dt 住所
                                            dd 
                                                | 〒577-0005
                                                br
                                                | 大阪府東大阪市七軒家16番20号
                                            dt Tel
                                            dd 
                                                | 06-6744-3111
    include ./layouts/_footer