footer.c-footer.clblack.pt45.pb50.pt25sp.pb30sp
    .l-container.flex-column.justify-content-center.tcm
        ul.c-footer__menu.mb35.mb25sp
            li
                a(href='index.html#A') 
                    strong VビームⅡ
            li
                a(href='index.html#B') 
                    strong 治療の特徴
            li
                a(href='index.html#C') 
                    strong 期待できる効果
            li
                a(href='index.html#D') 
                    strong 治療方法
            li
                a(href='index.html#E') 
                    strong 症例紹介
            li
                a(href='index.html#F') 
                    strong 院長紹介
        .c-footer__logo.mb45
            a(href="index.html")
                img.lazy(data-src="./assets/img/common/logo2.svg", height="72")
        p.c-footer__copyright.mt0 #{"Copyright © 西大寺駅前A皮膚科. All Rights Reserved."}
include ../partials/_script
if page == "top"
    script.
        $(function() {
            slideMainvisual();
            //- slide();
            slide();
            slideProductsSpecial();
        });
if page == "service"
    script.
        $(function() {
            slide2();
        });
//- if page == "staff" || page == "profile"
//-     script.
//-         $(function() {  
//-             slide3();
//-         });