header.c-header
    .c-header__logo
        a(href='index.html')
            img.lazy.logo-normal(data-src="./assets/img/common/logo.svg", alt="")
    .c-header__action
        ul.c-header__menu.border-menu.menu-lg.color-hover
            li
                a(href='index.html#A') 
                    strong VビームⅡ
            li
                a(href='index.html#B') 
                    strong 治療の特徴
            li
                a(href='index.html#C') 
                    strong 期待できる効果
            li
                a(href='index.html#D') 
                    strong 治療方法
            li
                a(href='index.html#E') 
                    strong 症例紹介
            li
                a(href='index.html#F') 
                    strong 院長紹介
        a.c-button.button-pink.button-outline.max-width.radius20.text20.mr20(href="index.html#G")
            i.c-icon.ic-pin-pink
            strong アクセス
        a.c-button.button-pink.button-outline.max-width.radius20.text20(href="tel:0742355678")
            i.c-icon.ic-phone-pink
            strong ご予約はこちら
    a.menu-toggle
        div
            span
            span
            span
        p MENU
.clear
.c-menu
    ul
        li
            a(href='index.html#A') 
                strong VビームⅡ
        li
            a(href='index.html#B') 
                strong 治療の特徴
        li
            a(href='index.html#C') 
                strong 期待できる効果
        li
            a(href='index.html#D') 
                strong 治療方法
        li
            a(href='index.html#E') 
                strong 症例紹介
        li
            a(href='index.html#F') 
                strong 院長紹介